@charset "utf-8";
/* CSS Document */

/*reset css*/
.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.setting_card .acount_lst,
.setting_wrap .snb_lst,
.main_con h2,
.main_con h3,
.setting_group p,
.setting_detail p {
  margin: 0;
  padding: 0;
}
.setting_wrap .snb_lst li a {
  text-decoration: none;
}
.setting_card em {
  font-style: normal;
}

.setting_wrap .btn.btn-default {
  background-color: #fff;
}

li {
  list-style: none;
}
.setting_wrap .xe-container .cont {
  padding: 0;
}
.setting_wrap .btn {
  vertical-align: top;
}
.setting_wrap h1 {
  margin: 0;
  padding: 0 16px;
  font-size: 36px !important;
  line-height: 1.25 !important;
  color: #2c8beb !important;
  font-weight: 400 !important;
}
.setting_wrap h1 + p {
  max-width: 760px;
  margin: 24px 16px 40px;
  font-size: 15px;
  line-height: 1.6;
  color: #8e8e93;
}
.main_con h2,
.main_con h3 {
  padding: 0 0 12px 16px;
  font-size: 13px;
  color: #2c2e37;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
}
.main_con h3 {
  padding: 20px 0 16px;
  border: none;
}
.main_con .setting_card {
  margin-bottom: 40px;
}

.side_menu {
  margin-bottom: 20px;
}
.setting_group,
.setting_detail {
  position: relative;
  font-size: 15px;
  line-height: 20px;
}
.setting_account + .setting_detail {
  border-top: none;
}
.setting_group .setting_group_con,
.setting_detail_con {
  position: relative;
  overflow: hidden;
  margin-left: 16px;
  padding: 16px 16px 16px 0;
  border-top: 1px solid #e4e4e4;
}
.setting_detail_con {
  overflow: inherit;
}
.setting_group a {
  display: block;
  overflow: hidden;
  padding: 16px 16px 16px 0;
  margin-left: 16px;
  border-top: 1px solid #e4e4e4;
  color: #2c2e37;
}
.setting_group a:active {
  background-color: #f6f7f8;
}
.setting_group a:after {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 12px 12px;
  font-family: xeicon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e60d";
  color: #b5b7bd;
  font-size: 18px;
}
.setting_detail_con .btn_setting_clse {
  position: absolute;
  right: 12px;
  top: 21px;
  padding: 8px;
  background-color: transparent;
  border: none;
  color: #2389ee;
  font-size: 25px;
}

.setting_group p,
.setting_detail p {
  margin-bottom: 8px;
  font-weight: 600;
  color: #2c2e37;
}
.setting_group .txt_set {
  font-size: 13px;
  color: #696e7a;
}
.main_con .setting_group.pd_small {
  padding: 10px 5%;
}
.main_con h3 + .setting_group {
  padding-top: 0;
}
.setting_group .setting_right {
  position: relative;
  margin-top: 15px;
}
.login_connect .setting_group .setting_right {
  margin-top: -9px;
}
.setting_card .txt_gray {
  display: inline-block;
  font-size: 15px;
  color: #696e7a;
}
.setting_card .txt_gray2 {
  display: block;
  margin-bottom: 14px;
  font-size: 15px;
  color: #696e7a;
}
.setting_card .txt_gray3 {
  display: inline-block;
  margin-bottom: 10px;
  color: #9197a3;
  font-size: 14px;
}

.setting_card .setting_detail_con .pw_con .txt_message {
  color: #434a53;
}
.setting_card .setting_detail_con .pw_con {
  margin-bottom: 8px;
}
.setting_card .setting_detail_con .pw_con:last-of-type {
  margin-bottom: 0;
}
.setting_card .setting_detail_con .pw_con p {
  font-size: 13px;
  color: #434a53;
}
.setting_card .setting_detail_con .pw_con.wrong p,
.setting_card .setting_detail_con .pw_con.wrong .txt_message {
  color: #db2828;
}
.setting_card .setting_detail_con .pw_con.wrong .xe-input-text {
  border-color: #dd251e;
}

.setting_card .acount_lst {
  margin: 20px 0;
}
.setting_card .acount_lst li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 13px;
  color: #434a53;
}
.setting_card .acount_lst li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "·";
  color: #919196;
}
.setting_group .xi-naver {
  color: #23b300;
}
.setting_group .xi-facebook {
  color: #46629d;
}
.setting_group .xi-twitter {
  color: #00abf1;
}
.setting_group .xi-github {
  color: #333;
}
.login_connect .setting_group i {
  margin: 0 12px 2px 0;
  font-size: 24px;
  vertical-align: middle;
  opacity: .4;
}
.login_connect .setting_group .on i {
  opacity: 1;
}
.login_connect .setting_group .setting_left {
  color: #bebebe;
}
.setting_group .setting_left.on {
  color: #2c2e37;
}
.setting_group .email_lst li {
  color: #1677cb;
  font-size: 15px;
  line-height: 23px;
}
.setting_group .email_lst li a {
  margin-right: 10px;
  color: #696e7a;
}
.setting_group .email_lst li a i {
  color: #bebebe;
}
.setting_group .email_lst i {
  font-size: 12px;
}
.setting_card .txt_blue {
  color: #2c8beb !important;
}
.setting_card .xe-button xe-button-text.txt_blue {
  margin-right: 12px;
}
.setting_card.login_connect .xe-button xe-button-text {
  margin: 0 12px 0 0;
  color: #2c8beb;
  font-size: 15px;
}
.setting_card .setting_detail_con .txt_red {
  color: #db2828 !important;
  font-size: 13px;
}
.setting_group .xe-input-text + .txt_blue {
  margin-top: 6px;
}
.setting_group .txt_red + .xe-button xe-button-text {
  margin-left: 10px;
}
.setting_group .xe-input-text.margin {
  margin: 9px 0 25px;
}
.setting_group .setting_left {
  float: left;
  width: 70%;
}
.setting_group .setting_right {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
}
.setting_group .setting_right .xe-toggle-button {
  margin-right: 16px;
}
.setting_card .setting_detail_con .setting_left {
  width: 70%;
}
.setting_card .xe-button_group-all {
  margin-left: 16px;
}
.setting_card .xe-input-group .xe-button xe-button-text {
  height: auto;
  line-height: inherit;
  padding: 0;
}
.btn_group.txt_group button {
  border-color: transparent;
  color: #2c8beb;
}

.menu_open {
  overflow: hidden;
  position: relative;
  max-width: 740px;
  margin: 10px auto 0;
  padding: 0 16px;
}
.menu_open .xe-menu-toggle {
  float: left;
  padding: 17px 13px;
  margin: 0 10px 0 -13px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.xe-menu-toggle .icon-bar {
  background-color: #359bf7;
  display: block;
  width: 26px;
  height: 1px;
  border-radius: 1px;
}
.xe-menu-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}
.menu_open .xe-menu-toggle + p {
  margin-top: 12px;
  font-size: 16px;
  color: #359bf7;
  line-height: 25px;
}
.snb.open + .dim {
  display: block;
  cursor: pointer;
}

.snb {
  display: block;
  position: fixed;
  left: -240px;
  top: 0;
  bottom: 0;
  width: 240px;
  height: auto;
  padding-top: 60px;
  z-index: 1100;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: url(bg_set_snb.gif) 0 0 repeat-y;
}
.setting_wrap .snb_lst {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 2px;
  box-shadow: 0 3px 17px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 3px 17px rgba(0, 0, 0, .3);
  border-width: 1px 0 1px;
  z-index: 10;
}
.setting_wrap .snb_lst:after {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 16px;
  height: 9px;
  background: url(ico_menu_arrow.png) 0 0 no-repeat;
  background-size: 16px 9px;
  content: "";
}
.setting_wrap .snb_lst li {
  list-style: none;
  padding: 0 16px;
}
.setting_wrap .snb_lst li a {
  display: block;
  padding: 14px 0;
  font-size: 15px;
  color: #2c2e37;
  border-bottom: 1px solid #e4e4e4;
}
.setting_wrap .snb_lst li:last-child a {
  border-bottom: 0;
}
.setting_wrap .snb_lst li.on a,
.setting_wrap .snb_lst li a:hover {
  color: #2c8beb;
}
.setting_wrap .snb_lst li a i {
  margin-right: 20px;
}
.setting_wrap .snb_lst li a:hover {
  border-bottom-color: #2c8beb;
  color: #fff;
}
.setting_wrap .snb_lst li:hover {
  background-color: #2c8beb;
}

@media (min-width: 768px) {
  /* tablet */
  .side_menu.xe-col-sm-3 {
    width: 20%;
  }
  .main_con.xe-col-sm-9 {
    width: 80%;
    padding-left: 50px;
    border-left: 1px solid #e4e4e4;
  }

  .setting_group .setting_left {
    float: left;
    width: 70%;
  }
  .setting_group .setting_right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
  }
  .login_connect .setting_group .setting_right {
    position: static;
    float: right;
    margin-top: 0;
  }
  .setting_wrap h1 {
    padding: 0;
  }
  .setting_wrap h1 + p {
    margin: 24px 0 40px;
  }
  .main_con h2,
  .main_con h3 {
    padding: 0 0 12px 0;
  }
  .side_menu {
    padding: 0 !important;
  }
  .setting_group a {
    padding: 16px 0;
    margin-left: 0;
  }
  .setting_group .setting_group_con,
  .setting_detail_con {
    padding: 16px 0 16px;
    margin-left: 0;
  }
  .setting_group,
  .setting_detail {
    padding: 0;
  }
  .main_con .setting_group.pd_small {
    padding: 10px 0 20px;
  }
  .setting_card .xe-button_group-all{
    margin-left: 0;
  }
  .setting_group .xe-input-text {
    width: 290px;
  }
  .menu_open {
    display: none;
  }
  .setting_card .xe-input-text {
    width: 280px;
  }
  .setting_card .btn_group {
    margin: 0 6px;
  }
  .setting_group_con .xe-toggle-button {
    margin-right: 16px;
  }

  .setting_wrap .snb_lst {
    display: block;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .setting_wrap .snb_lst:after {
    background: none;
  }
  .setting_wrap .snb_lst li:hover {
    background-color: transparent;
  }
  .setting_wrap .snb_lst li a {
    display: block;
    padding: 10px 0 10px 24px;
    border-bottom: none;
    font-size: 15px;
    color: #2c2e37;
  }
  .setting_wrap .snb_lst li.on a,
  .setting_wrap .snb_lst li a:hover {
    color: #2c8beb;
  }
  .setting_wrap .snb_lst li a i {
    margin-right: 20px;
  }
}

@media (min-width: 1068px) {
  /* desktop */
  .menu_open {
    display: none;
  }
  .setting_wrap .snb_lst {
    background-color: transparent;
  }
  .snb {
    position: absolute;
    left: 0;
  }
}
