@charset "utf-8";
/* CSS Document */
/*reset css*/
.xe-dropdown-menu ul {
  margin: 0;
  padding: 0;
}
.xe-dropdown-menu li > a {
  text-decoration: none;
}


/*dropdown*/
.xe-dropdown,
.xe-dropup {
  display: inline-block;
  position: relative;
  margin-bottom: 4px;
  font-size: 14px;
}
.xe-dropdown > .xe-btn,
.xe-dropup > .xe-btn,
.xe-dropdown-menu li > a {
  padding: 8px 55px 8px 16px;
}
.xe-dropdown > .xe-btn .caret,
.xe-dropup > .xe-btn .caret {
  display: none;
}
.xe-dropdown > .xe-btn,
.xe-dropup > .xe-btn {
  display: inline-block;
  position: relative;
  height: 36px;
  border: 1px solid #dadbde;
  background-color: #fff;
  color: #2c2e37;
  text-decoration: none;
  text-align: left;
  outline: none;
  white-space: nowrap;
  line-height: 1em;
  border-radius: 2px;
}
.xe-dropdown.v2 > .xe-btn,
.xe-dropup.v2 > .xe-btn {
  border: none;
}
.xe-dropdown.open > .xe-btn {
  border-radius: 2px 2px 0 0;
}
.xe-dropdown > .xe-btn:hover,
.xe-dropup > .xe-btn:hover {
  border-color: #b5b7bd;
}
.xe-dropdown > .xe-btn:after,
.xe-dropup > .xe-btn:after {
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-style: solid;
  border-width: 3px;
  border-color: #8e8e93 transparent transparent transparent;
  content: "";
}
.xe-dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -1px;
  padding: 0;
  border: 1px solid #dadbde;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 2px 2px;
  background-color: #fff;
  z-index: 10;
}
.xe-dropdown.v2 .xe-dropdown-menu,
.xe-dropup.v2 .xe-dropdown-menu {
  padding: 8px 0;
  border-width: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
}
.xe-dropup .xe-dropdown-menu {
  top: auto;
  bottom: 100%;
}
.xe-dropup.v2 .xe-dropdown-menu {
  border-radius: 2px;
}
.xe-dropdown.open > .xe-btn,
.xe-dropdown.open .xe-dropdown-menu,
.xe-dropup.open > .xe-btn,
.xe-dropup.open .xe-dropdown-menu {
  border-color: #2389ee;
}
.xe-dropdown .xe-dropdown-menu,
.xe-dropup .xe-dropdown-menu {
  display: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.xe-dropdown.open .xe-dropdown-menu,
.xe-dropup.open .xe-dropdown-menu {
  display: block;
}
.xe-dropdown-menu li > a {
  display: block;
  position: relative;
  color: #2c2e37;
}
.xe-dropdown-menu li > a:hover {
  background-color: #2389ee;
  color: #fff !important;
}
.xe-dropdown-menu li {
  list-style: none;
}
.xe-dropdown-menu li.on a {
  color: #2c8beb;
}
.xe-dropdown-menu li.on a:after {
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -9px;
  font-family: xeicon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e92a";
  color: #b5b7bd;
  font-size: 18px;
}
.xe-dropdown.v2 .xe-dropdown-menu li.on a,
.xe-dropup.v2 .xe-dropdown-menu li.on a {
  padding-right: 16px;
}
.xe-dropdown.v2 .xe-dropdown-menu li.on a:after,
.xe-dropup.v2 .xe-dropdown-menu li.on a:after {
  display: none;
}
.xe-dropdown > .xe-btn,
.xe-dropup > .xe-btn,
.xe-dropdown-menu {
  min-width: auto;
  width: 168px;
}
.xe-dropdown.v2 > .xe-btn,
.xe-dropup.v22 > .xe-btn,
.xe-dropdown-menu {
  width: auto;
}
.xe-dropdown.small > .xe-btn,
.xe-dropup.small > .xe-btn,
.xe-dropdown.small .xe-dropdown-menu,
.xe-dropup.small .xe-dropdown-menu {
  width: 112px;
}
.xe-dropdown.wide > .xe-btn,
.xe-dropup.wide > .xe-btn,
.xe-dropdown.wide .xe-dropdown-menu,
.xe-dropup.wide .xe-dropdown-menu {
  width: 224px;
}
.xe-dropdown.very-wide > .xe-btn,
.xe-dropup.very-wide > .xe-btn,
.xe-dropdown.very-wide .xe-dropdown-menu,
.xe-dropup.very-wide .xe-dropdown-menu {
  width: 280px;
}
.xe-dropdown.max-wide > .xe-btn,
.xe-dropup.max-wide > .xe-btn,
.xe-dropdown.max-wide .xe-dropdown-menu,
.xe-dropup.max-wide .xe-dropdown-menu {
  width: 336px;
}

.xe-select-box {
  position: relative;
  width: 140px;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  background-color: #fff;
}
.xe-select-box:after {
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-style: solid;
  border-width: 3px;
  border-color: #8e8e93 transparent transparent transparent;
  content: "";
}
.xe-select-box label {
  position: absolute;
  font-size: 14px;
  color: #696e7a;
  top: 4px;
  left: 12px;
  letter-spacing: 1px;
}
.xe-select-box select {
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: menulist-xe-btn;
}

.xe-select-label {
  .label-input ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .label-list li {
    list-style: none;
  }
  position: relative;
  .label-input {
    position: relative;
    overflow: hidden;
    padding: 0 25px 0 10px;
    background-color: #F6F7F9;
    border: 1px solid #DBDADF;
    border-radius: 2px;
    &:after {
      display: inline-block;
      position: absolute;
      right: 16px;
      top: 50%;
      width: 0;
      height: 0;
      margin-top: -2px;
      border-style: solid;
      border-width: 4px;
      border-color: #8e8e93 transparent transparent transparent;
      content: "";
    }
    ul li {
      float: left;
      &:first-child .label-choice {
        margin-left: 0;
      }
      .label-choice {
        display: block;
        position: relative;
        margin: 6px 2px;
        padding: 1px 28px 1px 8px;
        color: #fff;
        font-size: 13px;
        background-color: #B5B8BD;
        border: 1px solid #DBDADF;
        border-radius: 4px;
        button {
          position: absolute;
          right: 3px;
          top: 1px;
          background-color: transparent;
          border: transparent;
          outline: none;
          font-size: 11px;
          color: #fff;
        }
      }
      .search-label {
        height: 21px;
        margin: 6px 2px;
        border-color: transparent;
        background-color: transparent;
      }
    }
  }
  .label-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #8DC5FF;
    background-color: #fff;
    z-index: 100;
  }
  &.open .label-list {
    display: block;
  }
  .label-list .label-division {
    padding: 10px;
    font-size: 13px;
    + .label-division {
      border-top: 1px solid #DBDBDD;
    }
    strong {
      display: block;
      margin-bottom: 10px;
    }
    a {
      display: block;
      padding: 0 10px;
      color: #696e7a;
      line-height: 24px;
      border-radius: 4px;
      &:hover {
        background-color: #2992FB;
        color: #fff;
      }
    }
  }
}
