@charset "utf-8";
/* CSS Document */
/*reset css*/
.xe-dropdown-menu ul {
  margin: 0;
  padding: 0;
}
.xe-dropdown-menu li > a {
  text-decoration: none;
}

/*dropdown*/
.xe-dropdown,
.xe-dropup {
  display: inline-block;
  position: relative;
  margin-bottom: 4px;
  font-size: 14px;
}
.xe-dropdown > .xe-button,
.xe-dropup > .xe-button,
.xe-dropdown-menu li > a {
  padding: 8px 55px 8px 16px;
}
.xe-dropdown > .xe-button .caret,
.xe-dropup > .xe-button .caret {
  display: none;
}
.xe-dropdown > .xe-button,
.xe-dropup > .xe-button {
  display: inline-block;
  position: relative;
  height: 36px;
  border: 1px solid #dadbde;
  background-color: #fff;
  color: #2c2e37;
  text-decoration: none;
  text-align: left;
  outline: none;
  white-space: nowrap;
  line-height: 1em;
  border-radius: 2px;
}
.xe-dropdown.v2 > .xe-button,
.xe-dropup.v2 > .xe-button {
  border: none;
}
.xe-dropdown.open > .xe-button {
  border-radius: 2px 2px 0 0;
}
.xe-dropdown > .xe-button:hover,
.xe-dropup > .xe-button:hover {
  border-color: #b5b7bd;
}
.xe-dropdown > .xe-button:after,
.xe-dropup > .xe-button:after {
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-style: solid;
  border-width: 3px;
  border-color: #8e8e93 transparent transparent transparent;
  content: "";
}
.xe-dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -1px;
  padding: 0;
  border: 1px solid #dadbde;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 2px 2px;
  background-color: #fff;
  z-index: 10;
}
.xe-dropdown.v2 .xe-dropdown-menu,
.xe-dropup.v2 .xe-dropdown-menu {
  padding: 8px 0;
  border-width: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .3);
}
.xe-dropup .xe-dropdown-menu {
  top: auto;
  bottom: 100%;
}
.xe-dropup.v2 .xe-dropdown-menu {
  border-radius: 2px;
}
.xe-dropdown.open > .xe-button,
.xe-dropdown.open .xe-dropdown-menu,
.xe-dropup.open > .xe-button,
.xe-dropup.open .xe-dropdown-menu {
  border-color: #2389ee;
}
.xe-dropdown .xe-dropdown-menu,
.xe-dropup .xe-dropdown-menu {
  display: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.xe-dropdown.open .xe-dropdown-menu,
.xe-dropup.open .xe-dropdown-menu {
  display: block;
}
.xe-dropdown-menu li > a {
  display: block;
  position: relative;
  color: #2c2e37;
}
.xe-dropdown-menu li > a:hover {
  background-color: #2389ee;
  color: #fff !important;
}
.xe-dropdown-menu li {
  list-style: none;
}
.xe-dropdown-menu li.on a {
  color: #2c8beb;
}
.xe-dropdown-menu li.on a:after {
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -9px;
  font-family: xeicon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e92a";
  color: #b5b7bd;
  font-size: 18px;
}
.xe-dropdown.v2 .xe-dropdown-menu li.on a,
.xe-dropup.v2 .xe-dropdown-menu li.on a {
  padding-right: 16px;
}
.xe-dropdown.v2 .xe-dropdown-menu li.on a:after,
.xe-dropup.v2 .xe-dropdown-menu li.on a:after {
  display: none;
}
.xe-dropdown > .xe-button,
.xe-dropup > .xe-button,
.xe-dropdown-menu {
  min-width: auto;
  width: 168px;
}
.xe-dropdown.v2 > .xe-button,
.xe-dropup.v22 > .xe-button,
.xe-dropdown-menu {
  width: auto;
}
.xe-dropdown.small > .xe-button,
.xe-dropup.small > .xe-button,
.xe-dropdown.small .xe-dropdown-menu,
.xe-dropup.small .xe-dropdown-menu {
  width: 112px;
}
.xe-dropdown.wide > .xe-button,
.xe-dropup.wide > .xe-button,
.xe-dropdown.wide .xe-dropdown-menu,
.xe-dropup.wide .xe-dropdown-menu {
  width: 224px;
}
.xe-dropdown.very-wide > .xe-button,
.xe-dropup.very-wide > .xe-button,
.xe-dropdown.very-wide .xe-dropdown-menu,
.xe-dropup.very-wide .xe-dropdown-menu {
  width: 280px;
}
.xe-dropdown.max-wide > .xe-button,
.xe-dropup.max-wide > .xe-button,
.xe-dropdown.max-wide .xe-dropdown-menu,
.xe-dropup.max-wide .xe-dropdown-menu {
  width: 336px;
}

.select-box {
  position: relative;
  width: 140px;
  height: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  background-color: #fff;
}
.select-box:after {
  display: inline-block;
  position: absolute;
  right: 16px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-style: solid;
  border-width: 3px;
  border-color: #8e8e93 transparent transparent transparent;
  content: "";
}
.select-box label {
  position: absolute;
  font-size: 14px;
  color: #696e7a;
  top: 4px;
  left: 12px;
  letter-spacing: 1px;
}
.select-box select {
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-appearance: menulist-xe-button;
}
