@charset "utf-8";

/* CSS Document */

.xe-select-label {
  .label-input ul,
  .label-list ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }

  .label-list li {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

.xe-dropdown-menu,
.xe-dropdown-menu ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

/* dropdown */

@mixin dropdown-arrow($color) {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-style: solid;
  border-width: 3px;
  border-color: $color transparent transparent transparent;
  content: "";
}

.xe-dropdown,
.xe-dropup {
  display: block;
  position: relative;
  font-size: 14px;
  white-space: nowrap;
  vertical-align: middle;
}

.xe-dropdown > .xe-btn,
.xe-dropup > .xe-btn,
.xe-select-box.xe-btn {
  display: block;
  position: relative;
  width: 100%;
  padding-right: $dropdown-right-padding;
  text-align: left;
  white-space: nowrap;
  outline: none;

  &:focus,
  &.focus,
  &:active,
  &.active {
    background-color: $btn-default-bg;
  }

  &:hover {
    background-color: $btn-default-bg;
  }

  &:active {
    &:focus {
      background-color: $btn-default-bg;
      outline: none;
    }
  }
}

.xe-dropdown.outline-off > .xe-btn,
.xe-dropup.outline-off > .xe-btn,
.xe-select-box.outline-off.xe-btn {
  border: none;
}

.xe-dropdown > .xe-btn,
.xe-dropup > .xe-btn,
.xe-select-box.xe-btn,
.xe-select-label .label-input {
  &::after {
    @include dropdown-arrow($dropdown-arrow-color);
  }
}

.xe-dropup {
  .xe-dropdown-menu {
    margin-top: auto;
    margin-bottom: -1px;
    top: auto;
    bottom: 100%;
  }
}

.xe-dropdown-menu {
  display: none;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 100%;
  max-height: 366px;
  margin-top: -1px !important;
  border: 1px solid $dropdown-border-color;
  border-radius: 0 0 2px 2px;
  background-color: #fff;
  z-index: 10;
}

.open .xe-dropdown-menu {
  display: block;
  min-width: 100%;
}

.xe-dropdown-menu ul {
  li {
    > a {
      position: relative;

      & ~ ul {
        padding-left: 15px;
      }
    }
  }

  .xe-dropdown-menu__sub li {
    > a::before {
      content: '⌞';
      position: absolute;
      top: 0;
      font-size: 1.3em;
      transform: translateX(-15px);
    }
  }
}

.xe-dropdown-menu li {
  > a {
    display: block;
    position: relative;
    padding: 8px 15px;
    color: #2c2e37;
    text-align: left;
    line-height: $line-height-base;

    &:hover {
      text-decoration: underline;
      background-color: transparent;
      color: #2c8beb !important;
    }
  }

  &.on {
    > a {
      color: #2c8beb;
    }
  }
}

// design custom selectbox

.xe-select-box {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    font-size: 14px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -webkit-appearance: menulist-button;
  }
}

.xe-select-label {
  position: relative;

  .label-input {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0 $dropdown-right-padding 0 10px;
    background-color: #f6f7f9;
    border: 1px solid #dbdadf;
    border-radius: 2px;

    ul li {
      float: left;

      &:first-child .label-choice {
        margin-left: 0;
      }

      .label-choice {
        display: block;
        position: relative;
        margin: 5px 2px;
        padding: 1px 28px 1px 8px;
        color: #fff;
        font-size: 13px;
        background-color: #b5b8bd;
        border: 1px solid #dbdadf;
        border-radius: 4px;
        line-height: $line-height-base;

        button {
          position: absolute;
          right: 3px;
          top: 1px;
          background-color: transparent;
          border: transparent;
          outline: none;
          font-size: 11px;
          color: #fff;
          cursor: pointer;
        }
      }

      .search-label {
        height: 21px;
        margin: 5px 2px;
        border-color: transparent;
        background-color: transparent;
      }
    }
  }

  .label-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #8dc5ff;
    background-color: #fff;
    z-index: 100;
  }

  &.open .label-list {
    display: block;
  }

  .label-list .label-division {
    padding: 10px;
    font-size: 13px;
    line-height: $line-height-base;
    text-align: left;

    + .label-division {
      border-top: 1px solid #dbdbdd;
    }

    strong {
      display: block;
      margin-bottom: 10px;
      color: $text-color;
    }

    a {
      display: block;
      padding: 0 10px;
      color: #696e7a;
      line-height: 24px;
      border-radius: 4px;

      &:hover {
        background-color: #2992fb;
        color: #fff;
      }
    }
  }
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: $caret-width-base dashed;
  border-right: $caret-width-base solid transparent;
  border-left: $caret-width-base solid transparent;
}

.ly_popup_profile {
  display: none;
  position: absolute;
  z-index: 25;

  &.open {
    display: block;
  }

  ul {
    min-width: 140px;
    padding: 8px 0;
    border: 1px solid #bebebe;
    border-radius: 4px;
    background-color: #fff;
    list-style: none;
  }

  li {
    height: 30px;

    > a {
      overflow: hidden;
      display: block;
      height: 100%;
      padding: 0 16px;
      font-size: 14px;
      line-height: 30px;
      color: #2c2e37;
      text-decoration: none;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}
