@charset "utf-8";

/* CSS Document */

/* bs reset */
.xe-modal-open .xe-modal {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 17px !important;
}

.xe-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  &.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
  }
}

.xe-modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.xe-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.xe-modal-header .close {
  float: right;
  font-size: 21px;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}

.xe-modal-header button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.xe-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.fade.in {
  opacity: 1;
}

.xe-modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

@media (min-width: 768px) {
  .xe-modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .xe-modal-sm {
    width: 300px;
  }
}

@media (min-width: 992px) {
  .xe-modal-lg {
    width: 900px;
  }
}

.text-center {
  text-align: center !important;
}

.xe-modal-footer .xe-btn + .xe-btn {
  margin-bottom: 0;
  margin-left: 5px;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid #e4e4e4;
}

/* bs custom */
.xe-modal p {
  font-size: 14px;
  color: #8e8e93;
}

.xe-modal .xe-modal-title {
  margin: 0;
  line-height: 28px;
  font-size: 20px;
  color: #434a53;
}

.xe-modal-header {
  min-height: auto;
  padding: 24px;
  border-bottom: none;
}

.xe-modal-header.bg_gray {
  background-color: #f1f2f6;
}

.xe-modal-header.bg_blue {
  background-color: #2c8beb;
}

.xe-modal-header.bg_blue .xe-modal-title {
  color: #fff;
}

.xe-modal-header button.close {
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 10;
}

.xe-modal-header.bg_blue button.close {
  color: #fff;
  opacity: 1;
}

.xe-modal-content {
  border-radius: 2px;
}

.xe-modal-body .ico_result {
  margin-bottom: -25px;
  font-size: 130px;
  color: #2c8beb;
}

.xe-modal-body {
  padding: 0 24px 24px 24px;
}

.xe-modal-body .body_tit,
.xe-modal-body .txt_result {
  margin-bottom: 5px;
  font-size: 16px;
  color: #434a53;
}

.xe-modal-body .txt_result {
  font-size: 20px;
}

.xe-modal-body .ico_result.error {
  color: #434a53;
}

.xe-modal-body .ico_result.error {
  color: #db2828;
}

.xe-modal-body .ico_result.warning {
  color: #f2711c;
}

.xe-modal-body .ico_result.info {
  color: #696e7a;
}

.xe-modal-body hr {
  margin: 24px auto;
}

.xe-modal-footer {
  padding: 8px 24px 24px 24px;
  text-align: right;
  border-top: none;
}

.xe-modal .xe-btn {
  min-width: 64px;
}

.xe-modal-footer.text-center {
  text-align: center !important;
}

.xe-modal .list-group {
  overflow-y: auto;
  padding-left: 24px;
  margin-bottom: 0;
  max-height: 365px;
}

.xe-modal .list-group .img_thmb {
  overflow: hidden;
  display: table-cell;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.xe-modal .list-group li {
  overflow: hidden;
  padding: 12px 24px 12px 0;
  border-top: 1px solid #e4e4e4;
  list-style: none;
}

.xe-modal .list-group li:first-child {
  border-top: none;
}

.xe-modal .list-group .list_txt {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  text-align: left;
}

.xe-modal .list-group .list_txt > p {
  font-size: 16px;
  color: #2c2e37;
}

.xe-modal .list-group .list_txt .txt_sub {
  font-size: 14px;
  color: #b5b7bd;
}

.xe-modal .list-group li > a,
.xe-modal .list-group li > div {
  display: table;
  height: 100%;
  width: 100%;
}
