@charset "utf-8";

/* alert CSS Document */

.xe-toast-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 560px;

  /* margin: 4px auto 0; */
  margin: 0 auto;
  z-index: 1100;

  .xe-alert {
    position: relative;
    padding: 14px 40px 14px 20px;
    background-color: $brand-black;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    border-radius: 2px;
    margin: 4px 0;

    &.xe-warning {
      background-color: $brand-warning;
    }

    &.xe-success {
      background-color: $brand-success;
    }

    &.xe-danger {
      background-color: $brand-danger;
    }

    &.xe-positive {
      background-color: $brand-positive;
    }

    &.xe-fail {
      background-color: $brand-fail;
    }

    a {
      color: #ffea00;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.xe-toast-container--center {
    top: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 45vh;
    background-color: rgba(0, 0, 0, 0.8);

    .xe-alert {
      &.xe-danger,
      &.xe-warning {
        color: #333;
        background-color: #fff;
      }
    }

    .xe-btn-alert-close {
      top: unset;
      bottom: 0;
      right: 20px;
      margin-top: 0;
      width: unset;
      color: #333;

      .xi-close {
        display: none;
      }

      .text {
        display: inline !important;
      }
    }

    .toast_box {
      max-width: 450px;
      margin: 0 auto;

      .xe-alert {
        display: none;

        &:first-child {
          display: block !important;
        }
      }
    }

    .xe-danger,
    .xe-warning {
      padding-bottom: 60px;
    }
  }
}

.xe-btn-alert-close {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  line-height: 1;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: transparent;
  color: #fff;

  i {
    width: 20px;
    height: 20px;
    font-size: 11px;
    line-height: 20px;
  }

  &:hover i {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .xe-toast-container {
    /* padding: 0 20px; */
    padding: 0 10px;
    max-width: 960px;
  }
}
