@charset "utf-8";

/* CSS Document */

/* reset css */
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.user em {
  font-style: normal;
}

.user a {
  color: #2c8beb;
  text-decoration: none;
}

.user a:hover {
  color: #085daa;
}

.user ul,
.user h1,
.user form,
.user fieldset,
.user .hr .text-hr,
.user .auth-text {
  margin: 0;
  padding: 0;
}

// .xe-container {
//   padding-right: 4px;
//   padding-left: 4px;
//   margin-right: auto;
//   margin-left: auto;
// }

// .xe-container-fluid {
//   padding-right: 4px;
//   padding-left: 4px;
//   margin-right: auto;
//   margin-left: auto;
// }


// .xe-row {
//   margin-right: -4px;
//   margin-left: -4px;
// }

.pull-r {
  float: none;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #e4e4e4;
}

// .xe-col-xs-1,
// .xe-col-sm-1,
// .xe-col-md-1,
// .xe-col-lg-1,
// .xe-col-xs-2,
// .xe-col-sm-2,
// .xe-col-md-2,
// .xe-col-lg-2,
// .xe-col-xs-3,
// .xe-col-sm-3,
// .xe-col-md-3,
// .xe-col-lg-3,
// .xe-col-xs-4,
// .xe-col-sm-4,
// .xe-col-md-4,
// .xe-col-lg-4,
// .xe-col-xs-5,
// .xe-col-sm-5,
// .xe-col-md-5,
// .xe-col-lg-5,
// .xe-col-xs-6,
// .xe-col-sm-6,
// .xe-col-md-6,
// .xe-col-lg-6,
// .xe-col-xs-7,
// .xe-col-sm-7,
// .xe-col-md-7,
// .xe-col-lg-7,
// .xe-col-xs-8,
// .xe-col-sm-8,
// .xe-col-md-8,
// .xe-col-lg-8,
// .xe-col-xs-9,
// .xe-col-sm-9,
// .xe-col-md-9,
// .xe-col-lg-9,
// .xe-col-xs-10,
// .xe-col-sm-10,
// .xe-col-md-10,
// .xe-col-lg-10,
// .xe-col-xs-11,
// .xe-col-sm-11,
// .xe-col-md-11,
// .xe-col-lg-11,
// .xe-col-xs-12,
// .xe-col-sm-12,
// .xe-col-md-12,
// .xe-col-lg-12 {
//   padding-right: 4px;
//   padding-left: 4px;
// }

.row-title {
  margin: 5px 0;
  // padding-left: 4px;
  padding-left: 15px;
  font-size: 14px;
}

.row-title i {
  margin-left: 10px;
}

.user {
  max-width: 343px;
  margin: 0 auto;
  padding: 32px 5px 24px;
  color: #2c2e37;
  font-size: 14px;
}

.user.v2 {
  max-width: 430px;
}

.user fieldset {
  border: none;
}

.user .xe-input-text {
  margin: 0;
  background-color: transparent;
}

.user .text-message {
  color: #696e7a;
}

.user .success-input .text-message {
  color: #2c8beb;
}

.user .text-message.normal {
  color: #696e7a !important;
}

.user .xe-select-style {
  display: block;
}

.user .auth-group {
  position: relative;
  margin-bottom: 8px;
}

.user.find-password .auth-group {
  position: relative;
  margin-bottom: 16px;
}

.user .xe-input-group {
  margin: 16px 0;
}

.user .xe-input-group label {
  font-size: 14px;
  color: #696e7a;
  line-height: 20px;
  font-weight: normal;
}

.user h1 {
  margin-bottom: 24px;
  font-size: 24px !important;
  line-height: 32px;
  font-weight: normal;
}

.user .sub-text {
  margin-bottom: 16px;
  font-size: 14px;
  color: #696e7a;
}

.user .g-recaptcha {
  margin: 16px auto;
}

.user .xe-btn-primary,
.user .xe-btn.xe-btn-link {
  // width: 100%;
  margin-bottom: 16px;
  // text-align: center;
}

.user .xe-btn-blue {
  color: #fff;
}

.user .auth-text {
  margin-top: 24px;
  text-align: center;
}

.user .auto-text {
  font-size: 14px;
  color: #696e7a;
  line-height: 20px;
}

.user .auto-text a {
  color: #2c8beb,;
}

.user .auth-noti {
  margin-top: 12px;
  font-size: 13px;
  color: #8e8e93;
  line-height: 18px;
}

.user .hr {
  border-top: 1px solid #e4e4e4;
}

.user .hr .text-hr {
  margin-top: -12px;
  text-align: center;
}

.user .hr .text-hr > span {
  padding: 0 16px;
  background-color: #fff;
}

.user .auth-sns {
  position: relative;
  padding: 23px 0 20px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}

.user .auth-sns li {
  display: inline-block;
  list-style-type: none;
  width: 48px;
}

.user .auth-sns li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3b5998;
}

.user .auth-sns li.sns-facebook a {
  background-color: #3b5998;
}

.user .auth-sns li.sns-twitter a {
  background-color: #55acee;
}

.user .auth-sns li.sns-naver a {
  background-color: #23b300;
}

.user .auth-sns li.sns-google a {
  background-color: #4184f3;
}

.user .auth-sns li.sns-github a {
  background-color: #444;
}

.user .auth-sns li.sns-line a {
  background-color: #00c300;
}

.user .auth-sns li.sns-facebook a:hover {
  background-color: #1d315b;
}

.user .auth-sns li.sns-twitter a:hover {
  background-color: #006daa;
}

.user .auth-sns li.sns-naver a:hover {
  background-color: #1c8d00;
}

.user .auth-sns li.sns-google a:hover {
  background-color: #3a76d6;
}

.user .auth-sns li.sns-github a:hover {
  background-color: #222;
}

.user .auth-sns li.sns-line a:hover {
  background-color: #23b300;
}

.user .auth-sns li a i {
  color: #fff;
  font-size: 25px;
  line-height: 40px;
}

.user hr {
  margin: 0;
  border-color: #e4e4e4;
}

.user .auth-sns.v2 {
  border-bottom: none;
}

.user .auth-sns.v2 ul {
  max-width: 230px;
  margin: 8px auto 16px;
}

.user .auth-sns.v2 li {
  position: relative;
  display: block;
}

.user .auth-sns.v2 li a {
  display: block;
  width: 270px;
  height: 48px;
  margin-bottom: 8px;
  padding: 0 14px;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  line-height: 48px;
  text-align: left;
}

.user .auth-sns.v2 li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 55px;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.user .auth-sns.v2 li a i {
  font-size: 30px;
  line-height: inherit;
  vertical-align: middle;
  margin-right: 28px;
  transform: translateY(-2px);
}

.user .auth-group .btn-eye {
  position: absolute;
  top: 0;
  right: 4px;
  width: 36px;
  height: 36px;
  padding: 0;
  color: #8e8e93;
  font-size: 19px;
  border-color: transparent;
  background-color: transparent;
}

.user .auth-group .btn-eye .xi-eye-off,
.user .auth-group .btn-eye.on .xi-eye {
  display: none;
}

.user .auth-group .btn-eye.on .xi-eye-off {
  display: block;
}

.user .auth-group.option {
  background-color: #f6f7f8;
  color: #2c2e37;
}

.info {
  margin-bottom: 16px;
  border-bottom: 1px solid #e4e4e4;
}

.info p {
  margin: 0 0 24px;
  color: #696e7a;
}

.info em,
.user .sub-text em {
  font-weight: 600;
  color: #2c2e37;
}

.info em.info-title {
  display: inline-block;
  margin-bottom: 8px;
}

// 회원가입 개편 스타일 적용 (2019/09/10)
.user {
  // 회원가입 노출 사이즈
  &.user--signup {
    max-width: 460px;
  }

  // 가입 완료 (가입완료, 인증메일발송, 인증완료)
  &.user--signup-complete {
    .button-box {
      text-align: center;
    }

    .user__text {
      margin-bottom: 40px;
    }

    .user__text-resend {
      margin: 0 0 16px;
      font-size: 13px;
      line-height: 20px;
      font-weight: 600;
      text-align: center;
      color: #6b778c;
    }
  }

  .float-clear {
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  // 버튼 링크로 적용 시 color 값 변경되지 않도록 기본값 적용
  a.xu-button--default {
    color: #505f79;
  }

  a.xu-button--primary {
    color: #fff;
  }

  a.xu-button--link {
    color: #345bd9;
  }

  a.xu-button--subtle {
    color: #344563;
  }

  a.xu-button--subtle-link {
    color: #6b778c;
  }

  a.xu-button--warning {
    color: #fff;
  }

  a.xu-button--danger {
    color: #fff;
  }

  .user__title {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -0.24px;
    text-align: center;
    color: #172b4d;
  }

  .user__text {
    max-width: 335px;
    margin: 16px auto 0;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    color: #6b778c;
  }

  .auth-user__text {
    margin: 32px 0 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
    color: #6b778c;
  }

  .auth-user__text a {
    margin-left: 4px;
    font-weight: 600;
    color: #345bd9;
  }

  // 버튼 스타일 다른것 대응
  .user__button-default,
  a.user__button-default {
    background-color: #a5adba;
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      background-color: #a5adba;
      color: #fff;
    }
  }

  // 로그인 스타일
  .user-login {
    margin-top: 24px;

    .xu-form-group__input-box {
      width: 100%;
    }

    .xu-label-checkradio {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .xu-form-group {
      margin-bottom: 0;

      + .xu-form-group {
        margin-top: 4px;
      }
    }

    // 텍스트 우측 (비밀번호 찾기)
    .user-login-link {
      font-weight: 600;
      color: #345bd9;
    }

    .user-login-link--right {
      float: right;
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 13px;
      line-height: 20px;
    }

    .user-login__button {
      clear: both;
      margin-top: 16px;
    }
  }

  // 회원가입 스타일
  .user-signup {
    margin-top: 32px;

    .xu-form-group__input-box {
      width: 100%;
    }

    .user-signup__button-signup {
      margin-top: 40px;
    }

    .terms-box {
      margin-top: 32px;
    }
  }

  // 로그인 하단 약관 리스트
  .terms-list {
    margin: 17px 0 0;
    padding-left: 30px;
    list-style: none;

    > li {
      margin: 7px 0 0;
      padding: 0;
      line-height: 20px;
      list-style: none;

      &:first-child {
        margin-top: 0;
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .xu-label-checkradio {
        margin: 0;
      }
    }

    .terms-list__term-button {
      float: right;
      margin-right: 30px;
      padding: 0;
      border: 0 none;
      font-size: 14px;
      line-height: 20px;
      text-decoration: underline;
      cursor: pointer;
      background-color: transparent;
      color: #345bd9;
    }
  }

  // 약관동의 스타일
  .user-terms {
    margin-top: 33px;

    .xu-form-group__textarea-box {
      width: 100%;
    }

    .xu-form-group__textarea {
      height: 110px;
    }

    .button-box {
      margin-top: 32px;
    }

    .user-terms__button-cancel {
      background-color: #a5adba;
      color: #fff;
    }
  }

  .terms-box {
    margin-top: 23px;
    margin-bottom: 24px;

    .xu-label-checkradio {
      margin-bottom: 6px;
    }

    .terms-content {
      overflow-y: auto;
      width: 100%;
      height: 110px;
      padding: 5px 8px;
      border: 1px solid #d4d5dc;
      border-radius: 3px;
      font-size: 14px;
      line-height: 20px;
      background-color: #fafbfc;
      color: #a5adba;

      p {
        margin: 0 0 24px;
      }
    }
  }

  // 하단 버튼 2개 이상일 때 감싸는 영역
  .button-box {
    &.button-box--type2 {
      margin-left: -3px;
      margin-right: -3px;

      a,
      button {
        float: left;
        width: calc(50% - 6px);
        margin: 0 3px;
      }
    }

    &.button-box--type3 {
      margin-left: -3px;
      margin-right: -3px;

      a,
      button {
        float: left;
        width: calc(33.3333% - 6px);
        margin: 0 3px;
      }
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}
