composer.lock
yarn.lock
composer.user.json
/vendor
/vendor-new
/vendor-old
!/assets/vendor
.env
.idea/
*.iml
.DS_Store
/plugins
/privates
node_modules
/resources/jsdoc
*.map
npm-debug.log
_ide_helper.php
package-lock.json
resources/assets/jsdoc
