<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Deny hidden files(.*)
    RedirectMatch 403 ^/\.(.*)

    <Files *.php>
        Order Deny,Allow
        Deny from all
        Allow from 127.0.0.1
    </Files>

    <Files index.php>
        Order Allow,Deny
        Allow from all
    </Files>

    ##
    ## You may need to uncomment the following line for some hosting environments,
    ## if you have installed to a subdirectory, enter the name here also.
    ##
    # RewriteBase /

    # Allow web_installer/index.php
    RewriteRule ^web_installer/.* - [L]

    # Deny */index.php
    RewriteRule ^.*/index.php index.php [L]

    # Allow plugins/*
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^plugins/.* - [L]

    # Allow storage/uploaded/*
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^storage/uploaded/.* - [L]

    # Black list
    RewriteRule ^bootstrap/.* index.php [L,NC]
    RewriteRule ^config/.* index.php [L,NC]
    RewriteRule ^core/.* index.php [L,NC]
    RewriteRule ^database/.* index.php [L,NC]
    RewriteRule ^migrations/.* index.php [L,NC]
    RewriteRule ^resource/.* index.php [L,NC]
    RewriteRule ^storage/.* index.php [L,NC]
    RewriteRule ^tests/.* index.php [L,NC]
    RewriteRule ^vendor/.* index.php [L,NC]

    ## Standard routes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
