@charset "utf-8";
/* CSS Document */

.inpt_group .btn_txt{font-size: 15px;margin: 0;}
.inpt_group .dot{margin: 0 4px;font-size:10px}
.inpt_group>input[type="checkbox"],.inpt_group>input[type="radio"] { position:relative; top:-1px; vertical-align:middle; }
.inpt_group:not(#cross)>input[type="checkbox"],.inpt_group:not(#cross)>input[type="radio"]{overflow:hidden;position:absolute;width:0;height:0;border:0;font-size:0;line-height:0;top:-9999px;*position:static;*width:auto;*height:auto;*top:auto}
.inpt_group:not(#cross)>input[type="checkbox"] + label,.inpt_group:not(#cross)>input[type="radio"] + label{display:inline-block;margin:0 0 0 0; padding: 0 10px 2px 25px;background:url(../img/spr_inpt.png) no-repeat 0 0;background-size:18px 252px;height:22px;color:#434a53;font-weight: normal;}
.inpt_group:not(#cross)>input[type="checkbox"] + label:hover{background-position:0 -26px}
.inpt_group:not(#cross)>input[type="checkbox"]:checked + label{background-position:0 -52px}
.inpt_group:not(#cross)>input[type="checkbox"]:disabled + label { background-position:0 -78px}
.inpt_group:not(#cross)>input[type="checkbox"]:disabled:checked + label { background-position:0 -103px}

.inpt_group:not(#cross)>input[type="radio"] + label{background-position:0 -130px}
.inpt_group:not(#cross)>input[type="radio"] + label:hover{background-position:0 -156px}
.inpt_group:not(#cross)>input[type="radio"]:checked + label{background-position:0 -182px}
.inpt_group:not(#cross)>input[type="radio"]:disabled + label { background-position:left -208px}
.inpt_group:not(#cross)>input[type="radio"]:disabled:checked + label { background-position:0 -234px}

.btn{display:inline-block;padding:0.7143em 0.8571em;margin-bottom:0;font-size:14px;font-weight: 400;line-height: 1;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border-radius: 2px;outline: none;border: 1px solid transparent;}
.btn.btn-default{color:#8e8e93;border-color:#DADBDE;background-color: transparent;}
.btn:active,.btn:focus,.btn:active:focus{-webkit-box-shadow:none;box-shadow:none;outline:none}
.btn:focus{color:#fff}
.btn-default:hover, .open>.dropdown-toggle.btn-default {background-color:transparent;border-color: #B5B7BD;color:#696e7a}
.btn-default.focus,  .btn-default:focus{background-color:inherit;color:#8e8e93}
.btn-default.active, .btn-default:active{background-color:transparent;border-color: #8e8e93;color:#434a53}
.btn_group{display:inline-block;vertical-align:top}
.btn.blue{border-color: #2c8beb;color: #2c8beb;}
.wrong .btn{border-color:#DADBDE;color:#8e8e93}
.wrong .btn.blue{border-color:#A3C9F2;color:#2c8beb}
.btn.blue:hover{border-color:#1677cb;color:#1677cb}
.btn.blue:active{border-color:#085daa;color:#085daa}
.btn.blue.v2:hover{border-color:#2C8BEB;background-color:#2C8BEB;color:#fff}
.btn.blue.v2:active{border-color:#0775CE;background-color:#0775CE;color:#fff}
.btn_txt{color:#2c8beb;border-color:transparent;background-color: transparent;}
.btn_txt:hover,.btn_txt:focus{color: #085daa;text-decoration: none;border-color: transparent !important;}
.btn_txt.v2:hover{text-decoration:none;background-color:#F1F2F6;color: #2c8beb;}
.btn_txt.v2:active{background-color:#DADBDE}
.btn_txt.v3{color:#696e7a}
.btn_txt.v3:hover{color:#2c8beb}
.btn_txt.v3:active{color:#085daa}
.btn.btn_gray{background-color:#dadbde;color:#696e7a;border-color: transparent;}
.btn.btn_gray:hover{background-color:#b5b7bd;color:#434a53}
.btn.btn_gray:active{background-color:#8e8e93;color:#2c2e37}
.btn_group_all{margin:24px auto}

.btn-danger {background-color: #DB2828;border-color: #DB2828;color:#fff}
.btn-warning {background-color: #F2711C;border-color: #F2711C;color:#fff}

.inpt_txt,.form-control{width: 100%;height: 36px;margin: 0 4px 4px 0;padding:5px 12px;border:1px solid #DADBDE;border-radius:2px;line-height:1.42857143;font-size: 14px;color:#2c2e37;outline:none;-webkit-appearance:none;background-color:transparent;-webkit-box-shadow: none;box-shadow: none;}
textarea{padding: 10px 12px}
.form-control.srch{padding-right:30px}
.inpt_txt.readonly{height:40px;background-color:#F6F6F6;border-color:#F6F6F6;color:#cbcbcb;font-size:15px}
.wrong .inpt_txt{border-color: #DD251E !important;color:#db2828}
.success .inpt_txt{border-color:#2c8beb !important}
.inpt_txt:focus,.inpt_bd textarea:focus,.inpt_bd .inpt_txt:focus,.form-control:focus{border-color:#2389EE;color:#2c2e37;-webkit-box-shadow:none;box-shadow:none;transition:none}
.label_txt{color:#8e8e93;font-size:14px;line-height: 36px;}

.txt_message{display: block;margin: 5px 0 0;font-size:13px;color: #2c8beb;}
.wrong .txt_message{color: #db2828 !important;}
.success .txt_message{color:#2c8beb !important;}

.inpt_bd{position: relative;}
.inpt_bd textarea,.inpt_bd .inpt_txt{width:100%;border: 1px solid #DADBDE;outline:none;padding-right: 55px;border-radius: 2px;  color: #2c2e37;}
.inpt_bd .flag_code{position:absolute;top: 10px;right: 15px;}

.form_group{display:inline-block;/font-size: 0;font-size: 0;}
.form_group .inpt_txt.v2{width:170px;margin: 0;border-right-color: transparent;border-top-right-radius:0;border-bottom-right-radius:0;}
.form_group .inpt_txt:focus{border-color:#2389EE;}
.form_group .btn{background-color:#DADBDE;border-top-left-radius:0;border-bottom-left-radius:0;color:#8e8e93}
.form_group .btn:hover{background-color:#B5B7BD;border-color:#B5B7BD;color:#434a53}
.form_group.wrong+.txt_group+.txt_message{color:#db2828}

button i+span,.btn i+span{margin-left:3px}
.txt_group button:hover{background-color:#D4E8FC;border-radius:2px}
button.btn_blue,a.btn_blue{display:inline-block; background-color:#2C8BEB;border-color: transparent;color:#fff;}
button.btn_blue:hover,a.btn_blue:hover{background-color: #1677cb;border-radius:2px;color:#fff}
button.btn_blue:active,a.btn_blue:active{background-color: #085DAA;color:#fff}
button.ico_gray,a.ico_gray{display:inline-block;width: 40px;height: 40px;padding: 0;background-color:transparent;border-color: transparent;color: #2c2e37;font-size: 20px;}
button.ico_gray:hover,a.ico_gray:hover{background-color:#DADBDE;color:#000}

.select-style {display:inline-block;position:relative;margin: 0;border: 1px solid #e4e4e4;border-radius:2px;overflow: hidden}
.select-style em.ico{display: inline-block;position:absolute;right:11px;top:50%;width:0;height:0;margin-top:-2px;border-style:solid;border-width:3px;border-color: #8E8E93 transparent transparent transparent;font-size:13px;}
.select-style select {padding: 0.6643em 0.8571em 0.6643em;width:130%;margin-right: 20px;border:none;box-shadow:none;background-color: transparent;background-image: none;-webkit-appearance: none;-moz-appearance: none;appearance:none;line-height: 1em;}
.select-style select:focus {outline:none;}

.togglebutton{display: inline-block;}
.togglebutton input[type=checkbox]{opacity: 0;width:0;height:0}
.togglebutton input[type=checkbox]:checked + .toggle{background-color: #DADBDE;background-color: #359BF7}
.togglebutton input[type=checkbox]:checked + .toggle:after{left: 20px;outline:none}
.togglebutton label{font-weight:400;font-size:13px;cursor:pointer}
.togglebutton .toggle{display:inline-block;width:30px;height: 6px;background-color: #DADBDE;border-radius:15px;margin-right:10px;transition:background .3s ease;vertical-align:middle;content:''}
.togglebutton .toggle:after{display: inline-block;position:relative;left: -14px;top: -9px;width: 24px;height: 24px;background-color: #fff;border-radius:20px;border: 1px solid #e4e4e4;transition:left .3s ease,background .3s ease,box-shadow .1s ease;content:''}

.srch_group{display:inline-block;white-space:nowrap}
.srch_group label{margin: 0;padding: 8px 16px;font-size:16px;color: #8E8E93;}
.srch_group .inpt_txt{width:224px;padding-left:0;border:none}
.srch_group.bd_on{border:1px solid #e4e4e4}
.srch_group.bd_on label{color:#929297}

@media \0screen\,screen\9 {
.togglebutton input[type=checkbox]{width:auto;height:auto}
.togglebutton .toggle{display:none}
}

