@charset "utf-8";

/* Common */
.link_blue{color:#1677cb !important}
pre[class*="language-"]{overflow:auto;padding:0}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

/* grid */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.xo-col-xs-1, .xo-col-sm-1, .xo-col-md-1, .xo-col-lg-1, .xo-col-xs-2, .xo-col-sm-2, .xo-col-md-2, .xo-col-lg-2, .xo-col-xs-3, .xo-col-sm-3, .xo-col-md-3, .xo-col-lg-3, .xo-col-xs-4, .xo-col-sm-4, .xo-col-md-4, .xo-col-lg-4, .xo-col-xs-5, .xo-col-sm-5, .xo-col-md-5, .xo-col-lg-5, .xo-col-xs-6, .xo-col-sm-6, .xo-col-md-6, .xo-col-lg-6, .xo-col-xs-7, .xo-col-sm-7, .xo-col-md-7, .xo-col-lg-7, .xo-col-xs-8, .xo-col-sm-8, .xo-col-md-8, .xo-col-lg-8, .xo-col-xs-9, .xo-col-sm-9, .xo-col-md-9, .xo-col-lg-9, .xo-col-xs-10, .xo-col-sm-10, .xo-col-md-10, .xo-col-lg-10, .xo-col-xs-11, .xo-col-sm-11, .xo-col-md-11, .xo-col-lg-11, .xo-col-xs-12, .xo-col-sm-12, .xo-col-md-12, .xo-col-lg-12 {
  position: relative;
  min-height: 1px;
}

/* layout */
.xo-container {
  padding-right:15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.xo-container .cont{margin-left:-15px;margin-right:-15px;padding:0 5%}

@media (min-width: 768px) {
    .xo-container {
        max-width: 740px;
        /* padding-left: 0; */
        /* padding-right: 0; */
    }
	
.xo-container .cont{/* margin:0; */padding:0}	

.xo-col-xs-1, .xo-col-sm-1, .xo-col-md-1, .xo-col-lg-1, .xo-col-xs-2, .xo-col-sm-2, .xo-col-md-2, .xo-col-lg-2, .xo-col-xs-3, .xo-col-sm-3, .xo-col-md-3, .xo-col-lg-3, .xo-col-xs-4, .xo-col-sm-4, .xo-col-md-4, .xo-col-lg-4, .xo-col-xs-5, .xo-col-sm-5, .xo-col-md-5, .xo-col-lg-5, .xo-col-xs-6, .xo-col-sm-6, .xo-col-md-6, .xo-col-lg-6, .xo-col-xs-7, .xo-col-sm-7, .xo-col-md-7, .xo-col-lg-7, .xo-col-xs-8, .xo-col-sm-8, .xo-col-md-8, .xo-col-lg-8, .xo-col-xs-9, .xo-col-sm-9, .xo-col-md-9, .xo-col-lg-9, .xo-col-xs-10, .xo-col-sm-10, .xo-col-md-10, .xo-col-lg-10, .xo-col-xs-11, .xo-col-sm-11, .xo-col-md-11, .xo-col-lg-11, .xo-col-xs-12, .xo-col-sm-12, .xo-col-md-12, .xo-col-lg-12 {

  padding-right: 15px;
  padding-left: 15px;
}	
}
@media (min-width: 1068px) {
    .xo-container {
        max-width: 980px;
    }
}

.xo-container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.xo-col-xs-1, .xo-col-xs-2, .xo-col-xs-3, .xo-col-xs-4, .xo-col-xs-5, .xo-col-xs-6, .xo-col-xs-7, .xo-col-xs-8, .xo-col-xs-9, .xo-col-xs-10, .xo-col-xs-11, .xo-col-xs-12 {
  float: left;
}
.xo-col-xs-12 {
  width: 100%;
}
.xo-col-xs-11 {
  width: 91.66666667%;
}
.xo-col-xs-10 {
  width: 83.33333333%;
}
.xo-col-xs-9 {
  width: 75%;
}
.xo-col-xs-8 {
  width: 66.66666667%;
}
.xo-col-xs-7 {
  width: 58.33333333%;
}
.xo-col-xs-6 {
  width: 50%;
}
.xo-col-xs-5 {
  width: 41.66666667%;
}
.xo-col-xs-4 {
  width: 33.33333333%;
}
.xo-col-xs-3 {
  width: 25%;
}
.xo-col-xs-2 {
  width: 16.66666667%;
}
.xo-col-xs-1 {
  width: 8.33333333%;
}
.xo-col-xs-pull-12 {
  right: 100%;
}
.xo-col-xs-pull-11 {
  right: 91.66666667%;
}
.xo-col-xs-pull-10 {
  right: 83.33333333%;
}
.xo-col-xs-pull-9 {
  right: 75%;
}
.xo-col-xs-pull-8 {
  right: 66.66666667%;
}
.xo-col-xs-pull-7 {
  right: 58.33333333%;
}
.xo-col-xs-pull-6 {
  right: 50%;
}
.xo-col-xs-pull-5 {
  right: 41.66666667%;
}
.xo-col-xs-pull-4 {
  right: 33.33333333%;
}
.xo-col-xs-pull-3 {
  right: 25%;
}
.xo-col-xs-pull-2 {
  right: 16.66666667%;
}
.xo-col-xs-pull-1 {
  right: 8.33333333%;
}
.xo-col-xs-pull-0 {
  right: auto;
}
.xo-col-xs-push-12 {
  left: 100%;
}
.xo-col-xs-push-11 {
  left: 91.66666667%;
}
.xo-col-xs-push-10 {
  left: 83.33333333%;
}
.xo-col-xs-push-9 {
  left: 75%;
}
.xo-col-xs-push-8 {
  left: 66.66666667%;
}
.xo-col-xs-push-7 {
  left: 58.33333333%;
}
.xo-col-xs-push-6 {
  left: 50%;
}
.xo-col-xs-push-5 {
  left: 41.66666667%;
}

.xo-col-xs-push-4 {
  left: 33.33333333%;
}
.xo-col-xs-push-3 {
  left: 25%;
}
.xo-col-xs-push-2 {
  left: 16.66666667%;
}
.xo-col-xs-push-1 {
  left: 8.33333333%;
}
.xo-col-xs-push-0 {
  left: auto;
}
.xo-col-xs-offset-12 {
  margin-left: 100%;
}
.xo-col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.xo-col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.xo-col-xs-offset-9 {
  margin-left: 75%;
}
.xo-col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.xo-col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.xo-col-xs-offset-6 {
  margin-left: 50%;
}
.xo-col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.xo-col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.xo-col-xs-offset-3 {
  margin-left: 25%;
}
.xo-col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.xo-col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.xo-col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .xo-col-sm-1, .xo-col-sm-2, .xo-col-sm-3, .xo-col-sm-4, .xo-col-sm-5, .xo-col-sm-6, .xo-col-sm-7, .xo-col-sm-8, .xo-col-sm-9, .xo-col-sm-10, .xo-col-sm-11, .xo-col-sm-12 {
    float: left;
  }
  .xo-col-sm-12 {
    width: 100%;
  }
  .xo-col-sm-11 {
    width: 91.66666667%;
  }
  .xo-col-sm-10 {
    width: 83.33333333%;
  }
  .xo-col-sm-9 {
    width: 75%;
  }
  .xo-col-sm-8 {
    width: 66.66666667%;
  }
  .xo-col-sm-7 {
    width: 58.33333333%;
  }
  .xo-col-sm-6 {
    width: 50%;
  }
  .xo-col-sm-5 {
    width: 41.66666667%;
  }
  .xo-col-sm-4 {
    width: 33.33333333%;
  }
  .xo-col-sm-3 {
    width: 25%;
  }
  .xo-col-sm-2 {
    width: 16.66666667%;
  }
  .xo-col-sm-1 {
    width: 8.33333333%;
  }
  .xo-col-sm-pull-12 {
    right: 100%;
  }
  .xo-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .xo-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .xo-col-sm-pull-9 {
    right: 75%;
  }
  .xo-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .xo-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .xo-col-sm-pull-6 {
    right: 50%;
  }
  .xo-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .xo-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .xo-col-sm-pull-3 {
    right: 25%;
  }
  .xo-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .xo-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .xo-col-sm-pull-0 {
    right: auto;
  }
  .xo-col-sm-push-12 {
    left: 100%;
  }
  .xo-col-sm-push-11 {
    left: 91.66666667%;
  }
  .xo-col-sm-push-10 {
    left: 83.33333333%;
  }
  .xo-col-sm-push-9 {
    left: 75%;
  }
  .xo-col-sm-push-8 {
    left: 66.66666667%;
  }
  .xo-col-sm-push-7 {
    left: 58.33333333%;
  }
  .xo-col-sm-push-6 {
    left: 50%;
  }
  .xo-col-sm-push-5 {
    left: 41.66666667%;
  }
  .xo-col-sm-push-4 {
    left: 33.33333333%;
  }
  .xo-col-sm-push-3 {
    left: 25%;
  }
  .xo-col-sm-push-2 {
    left: 16.66666667%;
  }
  .xo-col-sm-push-1 {
    left: 8.33333333%;
  }
  .xo-col-sm-push-0 {
    left: auto;
  }
  .xo-col-sm-offset-12 {
    margin-left: 100%;
  }
  .xo-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .xo-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .xo-col-sm-offset-9 {
    margin-left: 75%;
  }
  .xo-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .xo-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .xo-col-sm-offset-6 {
    margin-left: 50%;
  }
  .xo-col-sm-offset-5 {
    margin-left: 41.66666667%;

  }
  .xo-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .xo-col-sm-offset-3 {
    margin-left: 25%;
  }
  .xo-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .xo-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .xo-col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1068px) {
  .xo-col-md-1, .xo-col-md-2, .xo-col-md-3, .xo-col-md-4, .xo-col-md-5, .xo-col-md-6, .xo-col-md-7, .xo-col-md-8, .xo-col-md-9, .xo-col-md-10, .xo-col-md-11, .xo-col-md-12 {
    float: left;
  }
  .xo-col-md-12 {
    width: 100%;
  }
  .xo-col-md-11 {
    width: 91.66666667%;
  }
  .xo-col-md-10 {
    width: 83.33333333%;
  }
  .xo-col-md-9 {
    width: 75%;
  }
  .xo-col-md-8 {
    width: 66.66666667%;
  }
  .xo-col-md-7 {
    width: 58.33333333%;
  }
  .xo-col-md-6 {
    width: 50%;
  }
  .xo-col-md-5 {
    width: 41.66666667%;
  }
  .xo-col-md-4 {
    width: 33.33333333%;
  }
  .xo-col-md-3 {
    width: 25%;
  }
  .xo-col-md-2 {
    width: 16.66666667%;
  }
  .xo-col-md-1 {
    width: 8.33333333%;
  }
  .xo-col-md-pull-12 {
    right: 100%;
  }
  .xo-col-md-pull-11 {
    right: 91.66666667%;
  }
  .xo-col-md-pull-10 {
    right: 83.33333333%;
  }
  .xo-col-md-pull-9 {
    right: 75%;
  }
  .xo-col-md-pull-8 {
    right: 66.66666667%;
  }
  .xo-col-md-pull-7 {
    right: 58.33333333%;
  }
  .xo-col-md-pull-6 {
    right: 50%;
  }
  .xo-col-md-pull-5 {
    right: 41.66666667%;
  }
  .xo-col-md-pull-4 {
    right: 33.33333333%;
  }
  .xo-col-md-pull-3 {
    right: 25%;
  }
  .xo-col-md-pull-2 {
    right: 16.66666667%;
  }
  .xo-col-md-pull-1 {
    right: 8.33333333%;
  }
  .xo-col-md-pull-0 {
    right: auto;
  }
  .xo-col-md-push-12 {
    left: 100%;
  }
  .xo-col-md-push-11 {
    left: 91.66666667%;
  }
  .xo-col-md-push-10 {
    left: 83.33333333%;
  }
  .xo-col-md-push-9 {
    left: 75%;
  }
  .xo-col-md-push-8 {
    left: 66.66666667%;
  }
  .xo-col-md-push-7 {
    left: 58.33333333%;
  }
  .xo-col-md-push-6 {
    left: 50%;
  }
  .xo-col-md-push-5 {
    left: 41.66666667%;
  }
  .xo-col-md-push-4 {
    left: 33.33333333%;
  }
  .xo-col-md-push-3 {
    left: 25%;
  }
  .xo-col-md-push-2 {
    left: 16.66666667%;
  }
  .xo-col-md-push-1 {
    left: 8.33333333%;
  }
  .xo-col-md-push-0 {
    left: auto;
  }
  .xo-col-md-offset-12 {
    margin-left: 100%;
  }
  .xo-col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .xo-col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .xo-col-md-offset-9 {
    margin-left: 75%;
  }
  .xo-col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .xo-col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .xo-col-md-offset-6 {
    margin-left: 50%;
  }
  .xo-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .xo-col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .xo-col-md-offset-3 {
    margin-left: 25%;
  }
  .xo-col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .xo-col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .xo-col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .xo-col-lg-1, .xo-col-lg-2, .xo-col-lg-3, .xo-col-lg-4, .xo-col-lg-5, .xo-col-lg-6, .xo-col-lg-7, .xo-col-lg-8, .xo-col-lg-9, .xo-col-lg-10, .xo-col-lg-11, .xo-col-lg-12 {
    float: left;
  }
  .xo-col-lg-12 {
    width: 100%;
  }
  .xo-col-lg-11 {

    width: 91.66666667%;
  }
  .xo-col-lg-10 {
    width: 83.33333333%;
  }
  .xo-col-lg-9 {
    width: 75%;
  }
  .xo-col-lg-8 {
    width: 66.66666667%;
  }
  .xo-col-lg-7 {
    width: 58.33333333%;
  }
  .xo-col-lg-6 {
    width: 50%;
  }
  .xo-col-lg-5 {
    width: 41.66666667%;
  }
  .xo-col-lg-4 {
    width: 33.33333333%;
  }
  .xo-col-lg-3 {
    width: 25%;
  }
  .xo-col-lg-2 {
    width: 16.66666667%;
  }
  .xo-col-lg-1 {
    width: 8.33333333%;
  }
  .xo-col-lg-pull-12 {
    right: 100%;
  }
  .xo-col-lg-pull-11 {
    right: 91.66666667%;
  }
  .xo-col-lg-pull-10 {
    right: 83.33333333%;
  }
  .xo-col-lg-pull-9 {
    right: 75%;
  }
  .xo-col-lg-pull-8 {
    right: 66.66666667%;
  }
  .xo-col-lg-pull-7 {
    right: 58.33333333%;
  }
  .xo-col-lg-pull-6 {
    right: 50%;
  }
  .xo-col-lg-pull-5 {
    right: 41.66666667%;
  }
  .xo-col-lg-pull-4 {
    right: 33.33333333%;
  }
  .xo-col-lg-pull-3 {
    right: 25%;
  }
  .xo-col-lg-pull-2 {
    right: 16.66666667%;
  }
  .xo-col-lg-pull-1 {
    right: 8.33333333%;
  }
  .xo-col-lg-pull-0 {
    right: auto;
  }
  .xo-col-lg-push-12 {
    left: 100%;
  }
  .xo-col-lg-push-11 {
    left: 91.66666667%;
  }
  .xo-col-lg-push-10 {
    left: 83.33333333%;
  }
  .xo-col-lg-push-9 {
    left: 75%;
  }
  .xo-col-lg-push-8 {
    left: 66.66666667%;
  }
  .xo-col-lg-push-7 {
    left: 58.33333333%;
  }
  .xo-col-lg-push-6 {
    left: 50%;
  }
  .xo-col-lg-push-5 {
    left: 41.66666667%;
  }
  .xo-col-lg-push-4 {
    left: 33.33333333%;
  }
  .xo-col-lg-push-3 {
    left: 25%;
  }
  .xo-col-lg-push-2 {
    left: 16.66666667%;
  }
  .xo-col-lg-push-1 {
    left: 8.33333333%;
  }
  .xo-col-lg-push-0 {
    left: auto;
  }
  .xo-col-lg-offset-12 {
    margin-left: 100%;
  }
  .xo-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .xo-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .xo-col-lg-offset-9 {
    margin-left: 75%;
  }
  .xo-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .xo-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .xo-col-lg-offset-6 {
    margin-left: 50%;
  }
  .xo-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .xo-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .xo-col-lg-offset-3 {
    margin-left: 25%;
  }
  .xo-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .xo-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .xo-col-lg-offset-0 {
    margin-left: 0;
  }
}

.xo-container:before,
.xo-container:after,
.xo-container-fluid:before,
.xo-container-fluid:after,
.xo-row:before,
.xo-row:after,
.xo-navbar:before,
.xo-navbar:after,
.xo-navbar-header:before,
.xo-navbar-header:after,
.xo-navbar-collapse:before,
.xo-navbar-collapse:after{
  display: table;
  content: " ";
}
.xo-container:after,
.xo-container-fluid:after,
.xo-row:after,
.xo-navbar:after,
.xo-navbar-header:after,
.xo-navbar-toggle:after,
.xo-navbar-collapse:after{
  clear: both;
}

.xo-container > .xo-navbar-header,
.xo-container-fluid > .xo-navbar-header,
.xo-container .xo-navbar-nav,
.xo-container-fluid .xo-navbar-nav {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .xo-container > .xo-navbar-header,
  .xo-container-fluid > .xo-navbar-header,
  .xo-container > .xo-navbar-collapse,
  .xo-container-fluid > .xo-navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}