// === 다이얼로그 레이어 팝업 ===
.media-library-dialog-popup {
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(52, 61, 82, 0.6);
  z-index: 1010;

  .media-library-dialog-popup-table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .media-library-dialog-popup-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

  // 컨텐츠 470px 기준
  .media-library-dialog-popup-content-box {
    width: 100%;
    max-width: 534px;
    margin: 0 auto;
  }

  .media-library-dialog-popup-content {
    margin: 32px;
    padding: 20px 24px;
    border: 1px solid #d4d5dc;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: $n0;
  }

  // 다이얼로그 헤더
  .media-library-dialog-popup-header {
    .media-library-dialog-popup-header__title {
      margin: 0 0 24px;
      padding: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: -0.01px;
      color: $n900;
    }
  }

  // 다이얼로그 바디
  .media-library-dialog-popup-body {
    .media-library__input-group-label {
      display: block;
      margin: 0;
      padding: 0;
      font-weight: 400;

      .media-library__input-group-label-title {
        display: inline-block;
        margin: 0 0 8px;
        padding: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.03px;
        color: $n500;
      }
    }

    .media-library__button-text-remove {
      padding: 9px;

      .media-library__button-text-remove-image {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../img/icon-input-close.svg) 0 0 no-repeat;
        background-size: 18px 18px;
      }
    }

    .media-library-dialog-popup__text {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.03px;
    }
  }

  // 다이얼로그 푸터
  .media-library-dialog-popup-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;

    .media-library__button {
      height: 32px;
      line-height: 32px;
      margin-left: 8px;
    }
  }

  // 삭제 다이얼로그 팝업
  &.media-library-dialog-popup--delete {
    .media-library-dialog-popup-body {
      padding-bottom: 42px;
    }
  
    .media-library-dialog-popup-footer {
      border-top: 1px solid $n40;
    }
  }

  // simple tree 팝업 (폴더 이동 팝업)
  &.media-library-simple-tree {
    padding-top: 12px;
  }

  .simpleTree-nodeContainer {
    &:hover {
      background-color: $n20;
    }
  }

  .simpleTree-selected {
    font-weight: 400;
    background-color: transparent;
    color: $b500;
  }

  .simpleTree-label {
    border: 0 none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    &:hover {
      font-weight: 400;
    }
  }

  .simpleTree-toggle {
    &:not(.disabled):hover {
      font-size: inherit;
    }
  }
}
// === //다이얼로그 레이어 팝업 ===

// === 레이어팝업 (미디어 매니저, 편집 팝업) ===
.media-library-layer-popup {
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(52, 61, 82, 0.6);
  z-index: 1010;

  .media-library-layer-popup-content {

  }

  // 레이어팝업 헤더
  .media-library-layer-popup-header {

  }

  // 레이어팝업 바디
  .media-library-layer-popup-body {
    
  }

  // 레이어팝업 푸터
  .media-library-layer-popup-footer {
    display: flex;
    justify-content: flex-end;
    padding: 17px 23px;

    .media-library__button {
      height: 32px;
      line-height: 32px;
      margin-left: 8px;
    }
  }

  // === 미디어 라이브러리 레이어 팝업 스타일 ===
  &.media-library-layer-popup--media-library {
    .media-library-layer-popup-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: $n0;
    }

    .media-library-layer-popup-header {
      display: none;
    }

    .media-library-layer-popup-body {
      flex: 1;
      max-height: 100%;
      min-height: 50%;
  
      .media-library {
        height: 100%;
        margin: 0;
  
        .media-library-box {
          height: 100%;
          display: flex;
          border: 0 none;
          border-bottom: 1px solid $n40;
        }
  
        .media-library-main {
          .media-library-content {
            overflow-y: auto;
          }
        }
  
        .media-library-upload {
          display: none;
          position: absolute;
          top: 79px;
          right: 0;
          width: calc(100% - 180px);
          height: calc(100% - 79px);
          z-index: 50;
        }
      }
    }
  }
  // === //미디어 라이브러리 레이어 팝업 스타일 ===
}
// === //레이어팝업 (미디어 매니저, 편집 팝업) ===

/* mobile */
@media (max-width: 768px) {
  // === 레이어팝업 (미디어 매니저, 편집 팝업) ===
  .media-library-layer-popup {
    // === 미디어 라이브러리 레이어 팝업 스타일 ===
    &.media-library-layer-popup--media-library {
      .media-library-layer-popup-body {
        .media-library {
          .media-library-box {
            // 모바일만 적용
            flex-direction: column;
          }
    
          .media-library-main {
            // 모바일만 적용
            display: flex;
            flex-direction: column;
            flex: 1;
    
            .media-library-content {
              // 모바일만
              flex: 1;
            }
          }
        }
      }
    }
    // === //미디어 라이브러리 레이어 팝업 스타일 ===
  }
  // === //레이어팝업 (미디어 매니저, 편집 팝업) ===
}
/* tablet */
@media (min-width: 768px) {
  // === 레이어팝업 (미디어 매니저, 편집 팝업) ===
  .media-library-layer-popup {
    // === 미디어 라이브러리 레이어 팝업 스타일 ===
    &.media-library-layer-popup--media-library {
      .media-library-layer-popup-body {
        .media-library__input-text {
          background-color: $n10;
    
          &:focus {
            background-color: $n0;
          }
        }
      }
    }
    // === //미디어 라이브러리 레이어 팝업 스타일 ===
  }
  // === //레이어팝업 (미디어 매니저, 편집 팝업) ===
}