// === 다이얼로그 레이어 팝업 ===
.media-library-dialog-popup {
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(52, 61, 82, 0.6);
  z-index: 1010;

  .media-library-dialog-popup-table {
    display: table;
    width: 100%;
    height: 100%;
  }

  .media-library-dialog-popup-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

  // 컨텐츠 470px 기준
  .media-library-dialog-popup-content-box {
    width: 100%;
    max-width: 534px;
    margin: 0 auto;
  }

  .media-library-dialog-popup-content {
    margin: 32px;
    padding: 20px 24px;
    border: 1px solid #d4d5dc;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: $n0;
  }

  // 다이얼로그 헤더
  .media-library-dialog-popup-header {
    .media-library-dialog-popup-header__title {
      margin: 0 0 24px;
      padding: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: -0.01px;
      color: $n900;
    }
  }

  // 다이얼로그 바디
  .media-library-dialog-popup-body {
    .media-library__input-group-title {
      display: inline-block;
      margin: 0 0 8px;
      padding: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: -0.03px;
      color: $n500;

      label {
        display: inline-block;
        margin: 0;
        padding: 0;
        font-weight: 400;
      }
    }

    .media-library-dialog-popup__text {
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.03px;
    }
  }

  // 다이얼로그 푸터
  .media-library-dialog-popup-footer {
    display: flex;
    justify-content: flex-end;
    padding-top: 16px;

    .media-library__button {
      height: 32px;
      line-height: 32px;
      margin-left: 8px;
    }
  }

  // 삭제 다이얼로그 팝업
  &.media-library-dialog-popup--delete {
    .media-library-dialog-popup-body {
      padding-bottom: 42px;
    }

    .media-library-dialog-popup-footer {
      border-top: 1px solid $n40;
    }
  }

  // simple tree 팝업 (폴더 이동 팝업)
  &.media-library-simple-tree {
    padding-top: 12px;
  }

  .simpleTree-nodeContainer {
    &:hover {
      background-color: $n20;
    }
  }

  .simpleTree-selected {
    font-weight: 400;
    background-color: transparent;
    color: $b500;
  }

  .simpleTree-label {
    border: 0 none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    &:hover {
      font-weight: 400;
    }
  }

  .simpleTree-toggle {
    &:not(.disabled):hover {
      font-size: inherit;
    }
  }
}
// === //다이얼로그 레이어 팝업 ===



// === 레이어 팝업 - 내부 스크롤 타입 (꽉 차는 형태, 중앙 정렬 형태) ===
// === 공통 (기본이 꽉차는 형태) ===
.media-library-layer-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 100px;
  background-color: rgba(52, 61, 82, 0.6);
  z-index: 1010;

  .media-library-layer-popup-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
    background-color: $n0;
    height: 100%;
  }

  .media-library-layer-popup-content-inner {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: #fff;
  }

  // 레이어팝업 헤더
  .media-library-layer-popup-header {

  }

  // 레이어팝업 바디
  .media-library-layer-popup-body {
    // flex: 1;
    // flex: 1 1 auto;
    flex: 1 1 100%;
    max-height: 100%;
    min-height: 50%;
  }

  // 레이어팝업 푸터
  .media-library-layer-popup-footer {
    display: flex;
    justify-content: flex-end;
    padding: 17px 23px;

    .media-library__button {
      height: 32px;
      line-height: 32px;
      margin-left: 8px;
    }
  }
}
// === //공통 (기본이 꽉차는 형태) ===

// === 중앙정렬 형태 ===
.media-library-layer-popup {
  &.media-library-layer-popup--align-center {
    .media-library-layer-popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      max-width: 300px; // 해당 max 값으로 화면 최대 크기 컨트롤
      max-height: 300px;
      padding: 20px;
      background-color: transparent;
      transform: translate(-50%, -50%);
    }
  }
}

// === //중앙정렬 형태 ===

// === //레이어 팝업 - 내부 스크롤 타입 (꽉 차는 형태, 중앙 정렬 형태) ===

// === 레이어팝업 (미디어 매니저, 편집 팝업) ===
.media-library-layer-popup {
  // === 미디어 라이브러리 - 라이브러리 레이어 팝업 스타일 ===
  &.media-library-layer-popup--media-library {
    .media-library-layer-popup-header {
      display: none;
    }

    .media-library-layer-popup-body {
      .media-library {
        height: 100%;
        margin: 0;

        .media-library-box {
          height: 100%;
          display: flex;
          border: 0 none;
          border-bottom: 1px solid $n40;
        }

        .media-library-main {
          .media-library-content {
            overflow-y: auto;
            padding-top: 100px;
          }
        }

        .media-library-upload {
          display: none;
          position: absolute;
          top: 79px;
          right: 0;
          width: 100%;
          height: 100px;
          padding: 20px;
          z-index: 50;

          &.active {
            display: block;
          }
        }
      }

      .media-library__button-menu-toggle {
        display: none;
      }
    }
  }

  &--sidebar {
    .media-library-upload {
      width: calc(100% - 160px) !important;
    }
  }
  // === //미디어 라이브러리 - 라이브러리 레이어 팝업 스타일 ===

  // === 미디어 라이브러리 - 파일 상세 팝업 ===
  &.media-library-layer-popup--media-detail {
    overflow-y: auto;
    padding: 0;

    .media-library-layer-popup__button-close {
      width: 36px;
      height: 36px;
      border: 0 none;
      background-color: transparent;
      outline: none;

      .media-library-layer-popup__button-close-image {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: top;
        background: url(../img/icon-close-circle.svg) 0 0 no-repeat;
        background-size: 24px 24px;
      }
    }

    .media-library-layer-popup-content {
      max-width: 100%;
      // max-height: 100%;

      position: static;
      top: auto;
      left: auto;
      // height: auto;
      max-height: none;
      padding: 0;
      background-color: #fff;
      transform: none;
      height: 100%;
    }

    .media-library-button-data {
      position: relative;

      &.open {
        .media-library-button-data__list {
          display: block;
        }
      }
    }

    .media-library-button-data__list {
      display: none;
      position: absolute;
      top: calc(100% + 3px);
      right: 0;
      width: auto;
      margin: 0;
      padding: 8px 0;
      border: 1px solid #d4d5dc;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
      background-color: #fff;
      list-style: none;

      > li {
        .media-library-button-data__button {
          width: 100%;
          padding: 0 16px;
          font-size: 14px;
          line-height: 28px;
          border: 0 none;
          letter-spacing: -0.03px;
          background-color: transparent;
          color: #42526e;
          white-space: nowrap;
          text-align: left;
          outline: none;

          &:hover,
          &:focus {
            background-color: #f4f5f7;
          }
        }
      }
    }

    .media-library__button--icon {
      padding: 8px;

      .media-library__button-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        vertical-align: top;
        transition: transform 0.3s ease;

        &.media-library__button-icon--edit {
          background-image: url(../img/icon-edit.svg);
        }

        &.media-library__button-icon--download {
          background-image: url(../img/icon-download.svg);
        }

        &.media-library__button-icon--trash {
          background-image: url(../img/icon-trash-new.svg);
        }

        &.media-library__button-icon--ellipsis {
          background-image: url(../img/icon-ellipsis-black.svg);
        }

        &.media-library__button-icon--check {
          background-image: url(../img/icon-check-min.svg);
        }

        &.media-library__button-icon--crop {
          background-image: url(../img/icon-crop.svg);
        }

        &.media-library__button-icon--rotation {
          background-image: url(../img/icon-rotation.svg);
        }
      }

      &.button-selected {
        .media-library__button-icon--ellipsis {
          transform: rotate(90deg);
          background-image: url(../img/icon-ellipsis-white.svg);
        }
      }
    }

    .media-library-layer-popup-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 58px;
      padding: 0 15px;
      border-bottom: 1px solid #d4d5dc;

      .media-library-layer-popup-header__title {
        display: none;
      }

      .media-library-layer-popup_button-box {
        display: flex;

        .media-library__button {
          margin-left: 8px;
        }
      }
    }

    .media-library-layer-popup-body {
      padding-top: 58px;

      .media-library-layer-popup-detail {
        width: 100%;
      }

      .media-library-layer-popup-detail-view {
        width: 100%;
        background-color: #3d3f43;

        .media-library-layer-popup-detail-view__inner {
          position: relative;
          width: 100%;
        }

        .media-library-layer-popup-detail-view__image-box {
          text-align: center;
        }

        .media-library-layer-popup-detail-view__image {
          max-width: 100%;
          max-height: 500px;
        }

        .media-library-layer-popup-detail-view__button-left {
          position: absolute;
          top: 50%;
          // left: 24px;
          left: 16px;
          width: 32px;
          height: 32px;
          padding: 0;
          border: 0 none;
          transform: translateY(-50%);
          // background-color: transparent;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 32px;

          &:hover {
            i {
              color: rgba(255, 255, 255, 1);
            }
          }

          i {
            padding-right: 3px;
            font-size: 26px;
            vertical-align: top;
            color: rgba(255, 255, 255, 0.4);
          }
        }

        .media-library-layer-popup-detail-view__button-right {
          position: absolute;
          top: 50%;
          // right: 24px;
          right: 16px;
          width: 32px;
          height: 32px;
          padding: 0;
          border: 0 none;
          transform: translateY(-50%);
          // background-color: transparent;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 32px;

          &:hover {
            i {
              color: rgba(255, 255, 255, 1);
            }
          }

          i {
            padding-left: 3px;
            font-size: 26px;
            vertical-align: top;
            color: rgba(255, 255, 255, 0.4);
          }
        }

        .media-library-layer-popup-detail-view__button-update {
          display: none;
        }
      }

      .media-library-layer-popup-detail-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #fff;

        .media-library-layer-popup-detail-info__inner {
          flex: 1 1 auto;
          overflow-y: auto;
          border-top: 1px solid #f4f5f7;
        }

        .media-library-layer-popup-detail-info-file {
          background-color: #f4f5f7;
          padding: 16px;
          word-break: break-all;

          dl {
            margin: 0;
            padding: 0;

            &::after {
              content: '';
              display: block;
              clear: both;
            }

            dt {
              float: left;
              width: 86px;
              margin: 0;
              padding: 5px 0;
              font-size: 13px;
              font-weight: 500;
              line-height: 26px;
              letter-spacing: -0.03px;
              color: #8993a4;
            }

            dd {
              overflow: hidden;
              margin: 0;
              padding: 5px 0;
              font-size: 13px;
              line-height: 26px;
              letter-spacing: -0.03px;
              color: #172b4d;
            }
          }
        }

        .media-library-layer-popup-detail-info-content {
          padding: 20px 16px;

          &.media-library-layer-popup-detail-info-content--edit-mode {
            .media-library__input-group {
              display: inline-block;
            }

            .media-library__button--icon {
              margin-left: 4px;
              vertical-align: top;
            }
          }

          dl {
            margin: 0;
            padding: 0;

            + dl {
              position: relative;
              margin-top: 20px;
              padding-top: 20px;

              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -16px;
                right: -16px;
                height: 1px;
                background-color: #dfe1e6;
              }
            }

            dt {
              margin: 0;
              padding: 0;

              label {
                margin: 0;
                padding-bottom: 4px;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                color: #42526e;
              }
            }

            dd {
              margin: 0 0 16px;
              padding: 0;
            }
          }

          .media-library-layer-popup-detail-info-content__description-box {
            margin-bottom: 16px;
          }

          .media-library-layer-popup-detail-info-content__description-text {
            margin: 0;
            padding: 0;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: -0.03px;
            color: #7a869a;
          }

          .media-library-layer-popup-detail-info-content__size-text {
            color: #42526e;
          }

          .media-library-layer-popup-detail-info-content__etc-text {
            display: inline-block;
            padding: 0 4px;
            font-size: 13px;
            line-height: 20px;
            vertical-align: 2px;
            color: #7a869a;
          }
        }

        .media-library-layer-popup-detail-info-footer {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          height: 74px;
          padding: 0 16px;
          border-top: 1px solid #dfe1e6;

          .media-library__button {
            margin-left: 8px;
          }
        }
      }
    }

    .media-library-layer-popup-footer {

    }
  }
  // === //미디어 라이브러리 - 파일 상세 팝업 ===
}
// === //레이어팝업 (미디어 매니저, 편집 팝업) ===

.dropzone--active {
  .media-library-upload {
    border-color: #007aff;
  }
}

/* mobile */
@media (max-width: 768px) {
  // === 레이어팝업 (미디어 매니저, 편집 팝업) ===
  .media-library-layer-popup {
    padding: 15px;

    .media-library-layer-popup-content {
      margin-top: 70px;
      height: calc(100% - 70px);
    }
    // === 미디어 라이브러리 레이어 팝업 스타일 ===
    &.media-library-layer-popup--media-library {
      .media-library-layer-popup-body {
        .media-library {
          .media-library-box {
            // 모바일만 적용
            // flex-direction: column;
            display: block;

            .media-library-aside__content {
              display: none;
            }

            .media-library-content-sort {
              display: none;
            }
          }

          .media-library-main {
            display: flex;
            flex-direction: column;
            // flex: 1;
            flex: 1 1 auto;
            height: 100%;

            .media-library-content {
              flex: 1;
              margin-top: 48px;
              padding-top: 0;
              // flex: 1 1 auto;

              .media-library-content-list {
                > li {
                  &:first-child {
                    border-top: 0 none;
                  }
                }
              }
            }
          }

          .media-library-upload {
            top: unset;
            right: unset;
            left: 20px;
            bottom: -50px;
            background: transparent;
            border: 0;
            padding: 0;
            width: auto !important;
            height: auto;
            margin: 0;
            text-align: left;

            .update-message {
              display: none;
            }

            .media-library-header-mobile-upload-button {
              display: none;
            }
          }
        }
      }
    }
    // === //미디어 라이브러리 레이어 팝업 스타일 ===
  }
  // === //레이어팝업 (미디어 매니저, 편집 팝업) ===
}

/* tablet */
@media (min-width: 768px) {
  // === 레이어팝업 (미디어 매니저, 편집 팝업) ===
  .media-library-layer-popup {
    // === 미디어 라이브러리 레이어 팝업 스타일 ===
    &.media-library-layer-popup--media-library {
      .media-library-layer-popup-body {
        .media-library {
          .media-library-main {
            position: relative;

            .media-library-content {
              // 팝업에서 flex: 1 1 auto; 적용 시 IE10에서 다른 영역이 줄어드는 현상이 있어 팝업(스크롤 생기는 영역) 에서만 flex: 1 적용
              flex: 1;
            }
          }

          .media-library-aside {
            position: relative;
            width: 160px;
            visibility: visible;
            transition: all 0.3s ease;

            .media-library-aside-inner {
              visibility: visible;
              transform: translateX(0%);
              transition: all 0.3s ease;
            }
          }

          .media-library-box {
            &.fold {
              // 사용자 UI 팝업에서 저장소 접기 버튼 클릭 시 스타일 (저장소와 버튼 스타일)
              .media-library-aside {
                width: 0;
                visibility: hidden;

                .media-library-aside-inner {
                  visibility: hidden;
                  transform: translateX(-100%);
                }
              }

              .media-library__button-menu-toggle {
                background-image: url(../img/icon-menu-arrow-right.svg);

                &:hover {
                  background-image: url(../img/icon-menu-arrow-right-hover.svg);
                }
              }
            }
          }

          .media-library__button-menu-toggle {
            display: block;
            position: absolute;
            top: 27px;
            left: -12px;
            width: 24px;
            height: 24px;
            border: 0 none;
            background: url(../img/icon-menu-arrow-left.svg) 0 0 no-repeat;
            background-color: transparent;
            background-size: 24px 24px;
            outline: none;

            &:hover {
              background-image: url(../img/icon-menu-arrow-left-hover.svg);
            }
          }
        }

        .media-library__input-text {
          background-color: $n10;

          &:focus {
            background-color: $n0;
          }
        }
      }
    }
    // === //미디어 라이브러리 레이어 팝업 스타일 ===

    // === 미디어 라이브러리 - 파일 상세 팝업 ===
    &.media-library-layer-popup--media-detail {
      overflow-y: visible;

      .media-library-layer-popup__button-close {
        display: none;
      }

      .media-library-layer-popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        max-width: 1140px;
        max-height: 835px;
        padding: 20px;
        background-color: transparent;
        transform: translate(-50%, -50%);
      }

      .media-library-layer-popup-content-inner {
        overflow: hidden;
        border-radius: 4px;
      }

      .media-library-button-data {
        // position: relative;

        &.open {
          .media-library-button-data__list {
            // display: block;
          }
        }
      }

      .media-library-button-data__list {
        // display: none;
        // position: absolute;
        // top: calc(100% + 3px);
        // right: 0;
        // width: 112px;
        // margin: 0;
        // padding: 8px 0;
        // border: 1px solid #d4d5dc;
        // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        // background-color: #fff;
        // list-style: none;

        > li {
          .media-library-button-data__button {
            //   width: 100%;
            //   padding: 0 16px;
            //   font-size: 14px;
            //   line-height: 28px;
            //   border: 0 none;
            //   letter-spacing: -0.03px;
            //   background-color: transparent;
            //   color: #42526e;
            //   white-space: nowrap;
            //   text-align: left;
            //   outline: none;

            //   &:hover, &:focus {
            //     background-color: #f4f5f7;
            //   }
          }
        }
      }

      .media-library__button--icon {
        // padding: 8px;

        .media-library__button-icon {
          // display: inline-block;
          // width: 20px;
          // height: 20px;
          // background-position: 0 0;
          // background-repeat: no-repeat;
          // background-size: 20px 20px;
          // vertical-align: top;
          // transition: transform 0.3s ease;

          &.media-library__button-icon--edit {
            // background-image: url(../img/icon-edit.svg);
          }

          &.media-library__button-icon--download {
            // background-image: url(../img/icon-download.svg);
          }

          &.media-library__button-icon--trash {
            // background-image: url(../img/icon-trash-new.svg);
          }

          &.media-library__button-icon--ellipsis {
            // background-image: url(../img/icon-ellipsis-black.svg);
          }
        }

        &.button-selected {
          .media-library__button-icon--ellipsis {
            // transform: rotate(90deg);
            // background-image: url(../img/icon-ellipsis-white.svg);
          }
        }
      }

      .media-library-layer-popup-header {
        position: static;
        top: auto;
        left: auto;
        height: 70px;
        padding: 24px;

        .media-library-layer-popup-header__title {
          display: block;
          margin: 0;
          font-size: 20px;
          font-weight: 500;
          line-height: 32px;
          color: #091e42;
        }

        .media-library-layer-popup_button-box {
          display: flex;

          .media-library__button {
            margin-left: 8px;
          }
        }
      }

      .media-library-layer-popup-body {
        padding-top: 0;

        .media-library-layer-popup-detail {
          display: flex;
          flex-wrap: wrap;
          height: 100%;
        }

        .media-library-layer-popup-detail-view {
          display: flex;
          flex: 1;
          background-color: #3d3f43;

          .media-library-layer-popup-detail-view__inner {
            display: flex;
            flex: 1;
            padding: 80px;
            width: 100%;
            height: 100%;
          }

          .media-library-layer-popup-detail-view__image-box {
            flex: 1;
            position: relative;
            background: url('../img/icon-file.png') center no-repeat;

            p {
              position: absolute;
              bottom: 0;
              width: 100%;
              color: #fff;
            }
          }

          .media-library-layer-popup-detail-view__button-left {
            left: 24px;
            background-color: transparent;
          }

          .media-library-layer-popup-detail-view__button-right {
            right: 24px;
            background-color: transparent;
          }

          .media-library-layer-popup-detail-view__image {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
          }

          .media-library-layer-popup-detail-view__button-update {
            display: block;
            position: absolute;
            bottom: 28px;
            left: 50%;
            height: 26px;
            padding-top: 0;
            padding-bottom: 0;
            border: 1px solid #d4d5dc;
            border-radius: 4px;
            font-size: 13px;
            line-height: 20px;
            transform: translateX(-50%);
            background-color: #fff;
            color: #5e6c84;
          }
        }

        .media-library-layer-popup-detail-info {
          flex: 0 0 308px;
          width: 308px;
          height: 100%;
          border-left: 1px solid #d4d5dc;

          .media-library-layer-popup-detail-info__inner {
            // flex: 1 1 auto;
            // overflow-y: auto;
            border-top: 0 none;
          }

          .media-library-layer-popup-detail-info-file {
            background-color: #f4f5f7;
            padding: 16px 24px;

            // dl {
            //   margin: 0;
            //   padding: 0;

            //   &::after {
            //     content: '';
            //     display: block;
            //     clear: both;
            //   }

            //   dt {
            //     float: left;
            //     width: 86px;
            //     margin: 0;
            //     padding: 0;
            //     font-size: 13px;
            //     font-weight: 500;
            //     line-height: 36px;
            //     letter-spacing: -0.03px;
            //     color: #8993a4;
            //   }

            //   dd {
            //     overflow: hidden;
            //     margin: 0;
            //     padding: 0;
            //     font-size: 13px;
            //     line-height: 36px;
            //     letter-spacing: -0.03px;
            //     color: #172b4d;
            //   }
            // }
          }

          .media-library-layer-popup-detail-info-content {
            padding: 20px 24px;

            dl {
              margin: 0;
              padding: 0;

              + dl {
                &::before {
                  content: '';
                  left: -24px;
                  right: -24px;
                }
              }

              dt {
                margin: 0;
                padding: 0;

                label {
                  margin: 0;
                  padding-bottom: 4px;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                  color: #42526e;
                }
              }

              dd {
                margin: 0 0 16px;
                padding: 0;
              }
            }
          }

          .media-library-layer-popup-detail-info-footer {
            // display: flex;
            // align-items: center;
            // justify-content: flex-end;
            // height: 74px;
            // padding: 0 24px;
            // border-top: 1px solid #dfe1e6;
          }
        }
      }

      .media-library-layer-popup-footer {

      }
    }
    // === //미디어 라이브러리 - 파일 상세 팝업 ===
  }
  // === //레이어팝업 (미디어 매니저, 편집 팝업) ===
}
