.media-library-breadcrumbs {
  display: flex;
  align-items: center;
  height: 50px;
  border-top: 1px solid $n40;
  background-color: $n0;
}

.media-library-breadcrumbs-info {
  flex: 1;
  padding: 3px 15px;
}

.media-library-breadcrumbs-info__image {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: url(../img/icon-list-folder.svg) 0 0 no-repeat;
  background-size: 20px 20px;
  vertical-align: middle;
}

.media-library-breadcrumbs-info__link {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.03px;
  text-decoration: none;
  color: $n90;
  vertical-align: middle;

  &::before {
    content: ' / ';
  }

  &:first-of-type {
    &::before {
      content: '';
    }
  }

  .media-library-breadcrumbs-info__link-text {
    color: $n90;
  }

  &:hover {
    text-decoration: none;
    color: $n90;

    .media-library-breadcrumbs-info__link-text {
      color: $b400;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

@media (min-width: 768px) {
  .media-library-breadcrumbs-info {
    padding-left: 25px;
  }
}
