@charset "UTF-8";
/* CSS Document */
/*reset css*/
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.member em {
  font-style: normal;
}

.member a {
  color: #2c8beb;
  text-decoration: none;
}

.member a:hover {
  color: #085daa;
}

.member ul,
.member h1,
.member form,
.member fieldset,
.member .hr .text-hr,
.member .auth-text {
  margin: 0;
  padding: 0;
}

.xe-container {
  padding-right: 4px;
  padding-left: 4px;
  margin-right: auto;
  margin-left: auto;
}

.xe-container-fluid {
  padding-right: 4px;
  padding-left: 4px;
  margin-right: auto;
  margin-left: auto;
}

.xe-row {
  margin-right: -4px;
  margin-left: -4px;
}

.pull-r {
  float: none;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #e4e4e4;
}

.xe-col-xs-1,
.xe-col-sm-1,
.xe-col-md-1,
.xe-col-lg-1,
.xe-col-xs-2,
.xe-col-sm-2,
.xe-col-md-2,
.xe-col-lg-2,
.xe-col-xs-3,
.xe-col-sm-3,
.xe-col-md-3,
.xe-col-lg-3,
.xe-col-xs-4,
.xe-col-sm-4,
.xe-col-md-4,
.xe-col-lg-4,
.xe-col-xs-5,
.xe-col-sm-5,
.xe-col-md-5,
.xe-col-lg-5,
.xe-col-xs-6,
.xe-col-sm-6,
.xe-col-md-6,
.xe-col-lg-6,
.xe-col-xs-7,
.xe-col-sm-7,
.xe-col-md-7,
.xe-col-lg-7,
.xe-col-xs-8,
.xe-col-sm-8,
.xe-col-md-8,
.xe-col-lg-8,
.xe-col-xs-9,
.xe-col-sm-9,
.xe-col-md-9,
.xe-col-lg-9,
.xe-col-xs-10,
.xe-col-sm-10,
.xe-col-md-10,
.xe-col-lg-10,
.xe-col-xs-11,
.xe-col-sm-11,
.xe-col-md-11,
.xe-col-lg-11,
.xe-col-xs-12,
.xe-col-sm-12,
.xe-col-md-12,
.xe-col-lg-12 {
  padding-right: 4px;
  padding-left: 4px;
}

.row-title {
  margin: 5px 0;
  padding-left: 4px;
  font-size: 14px;
}

.row-title i {
  margin-left: 10px;
}

.member {
  max-width: 330px;
  margin: 0 auto;
  padding: 32px 5px 24px;
  color: #2c2e37;
  font-family: '나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
  font-size: 14px;
}

.member,
input,
textarea,
select,
table,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro","나눔바른고딕",NanumBarunGothic,"맑은 고딕","Malgun Gothic","돋움",Dotum,"애플 SD 산돌고딕 Neo","Apple SD Gothic Neo",AppleGothic,Helvetica,sans-serif;
}

.member.v2 {
  max-width: 430px;
}

.member fieldset {
  border: none;
}

.member .xe-input-text {
  margin: 0;
  background-color: transparent;
}

.member .text-message {
  color: #696e7a;
}

.member .success-input .text-message {
  color: #2c8beb;
}

.member .text-message.normal {
  color: #696e7a !important;
}

.member .xe-select-style {
  display: block;
}

.member .auth-group {
  position: relative;
  margin-bottom: 8px;
}

.member.find-password .auth-group {
  position: relative;
  margin-bottom: 16px;
}

.member .xe-input-group {
  margin: 16px 0;
}

.member .xe-input-group label {
  font-size: 14px;
  color: #696e7a;
  line-height: 20px;
  font-weight: normal;
}

.member h1 {
  margin-bottom: 24px;
  font-size: 24px !important;
  line-height: 32px;
  font-weight: normal;
}

.member .sub-text {
  margin-bottom: 16px;
  font-size: 14px;
  color: #696e7a;
}

.member .g-recaptcha {
  margin: 16px auto;
}

.member .xe-btn-primary,
.member .xe-btn.xe-btn-link {
  margin-bottom: 16px;
}

.member .xe-btn-blue {
  color: #fff;
}

.member .auth-text {
  margin-top: 24px;
  text-align: center;
}

.member .auto-text {
  font-size: 14px;
  color: #696e7a;
  line-height: 20px;
}

.member .auto-text a {
  color: #2c8beb;
}

.member .auth-noti {
  margin-top: 12px;
  font-size: 13px;
  color: #8e8e93;
  line-height: 18px;
}

.member .hr {
  border-top: 1px solid #e4e4e4;
}

.member .hr .text-hr {
  margin-top: -12px;
  text-align: center;
}

.member .hr .text-hr > span {
  padding: 0 16px;
  background-color: #fff;
}

.member .auth-sns {
  position: relative;
  padding: 23px 0 20px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}

.member .auth-sns li {
  display: inline-block;
  list-style-type: none;
  width: 48px;
}

.member .auth-sns li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3b5998;
}

.member .auth-sns li.sns-facebook a {
  background-color: #3b5998;
}

.member .auth-sns li.sns-twitter a {
  background-color: #55acee;
}

.member .auth-sns li.sns-naver a {
  background-color: #23b300;
}

.member .auth-sns li.sns-google a {
  background-color: #4184f3;
}

.member .auth-sns li.sns-github a {
  background-color: #444;
}

.member .auth-sns li.sns-line a {
  background-color: #00c300;
}

.member .auth-sns li.sns-facebook a:hover {
  background-color: #1d315b;
}

.member .auth-sns li.sns-twitter a:hover {
  background-color: #006daa;
}

.member .auth-sns li.sns-naver a:hover {
  background-color: #1c8d00;
}

.member .auth-sns li.sns-google a:hover {
  background-color: #3a76d6;
}

.member .auth-sns li.sns-github a:hover {
  background-color: #222;
}

.member .auth-sns li.sns-line a:hover {
  background-color: #23b300;
}

.member .auth-sns li a i {
  color: #fff;
  font-size: 25px;
  line-height: 40px;
}

.member hr {
  margin: 0;
  border-color: #e4e4e4;
}

.member .auth-sns.v2 {
  border-bottom: none;
}

.member .auth-sns.v2 ul {
  max-width: 230px;
  margin: 8px auto 16px;
}

.member .auth-sns.v2 li {
  display: block;
}

.member .auth-sns.v2 li a {
  display: block;
  width: 230px;
  margin-bottom: 8px;
  padding: 0 16px;
  border-radius: 20px;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  text-align: left;
}

.member .auth-sns.v2 li a i {
  line-height: inherit;
  vertical-align: middle;
  margin-right: 7px;
}

.member .auth-group .btn-eye {
  position: absolute;
  top: 0;
  right: 4px;
  width: 36px;
  height: 36px;
  padding: 0;
  color: #8e8e93;
  font-size: 19px;
  border-color: transparent;
  background-color: transparent;
}

.member .auth-group .btn-eye .xi-eye-off,
.member .auth-group .btn-eye.on .xi-eye {
  display: none;
}

.member .auth-group .btn-eye.on .xi-eye-off {
  display: block;
}

.member .auth-group.option {
  background-color: #f6f7f8;
  color: #2c2e37;
}

.info {
  margin-bottom: 16px;
  border-bottom: 1px solid #e4e4e4;
}

.info p {
  margin: 0 0 24px;
  color: #696e7a;
}

.info em,
.member .sub-text em {
  font-weight: 600;
  color: #2c2e37;
}

.info em.info-title {
  display: inline-block;
  margin-bottom: 8px;
}
