@charset "UTF-8";
/* CSS Document */
/*reset css*/
.setting-wrap {
  font-family: '나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
  font-size: 13px;
}

.setting-card .acount-list,
.setting-wrap .snb-list,
.main-content h2,
.main-content h3,
.setting-group p,
.setting-detail p {
  margin: 0;
  padding: 0;
}

.setting-wrap .snb-list li a {
  text-decoration: none;
}

.setting-card em {
  font-style: normal;
}

.setting-wrap .btn.btn-default {
  background-color: #fff;
}

li {
  list-style: none;
}

.setting-wrap .xe-container .cont {
  padding: 0;
}

.setting-wrap .btn {
  vertical-align: top;
}

.label-text {
  color: #8e8e93;
  font-size: 14px;
  line-height: 36px;
}

.setting-wrap h1 {
  margin: 0;
  padding: 0 16px;
  font-size: 36px !important;
  line-height: 1.25 !important;
  color: #2c8beb !important;
  font-weight: 400 !important;
}

.setting-wrap h1 + p {
  max-width: 760px;
  margin: 24px 16px 40px;
  font-size: 15px;
  line-height: 1.6;
  color: #8e8e93;
}

.main-content h2,
.main-content h3 {
  padding: 0 0 12px 16px;
  font-size: 13px;
  color: #2c2e37;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
}

.main-content h3 {
  padding: 20px 0 16px;
  border: none;
}

.main-content .setting-card {
  margin-bottom: 40px;
}

.side-menu {
  margin-bottom: 20px;
}

.setting-group,
.setting-detail {
  position: relative;
  font-size: 15px;
  line-height: 20px;
}

.setting-account + .setting-detail {
  border-top: none;
}

.setting-group .setting-group-content,
.setting-detail-content {
  position: relative;
  overflow: hidden;
  margin-left: 16px;
  padding: 16px 16px 16px 0;
  border-top: 1px solid #e4e4e4;
}

.setting-group label,
.setting-detail label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #2c2e37;
}

.setting-detail-content {
  overflow: inherit;
}

.setting-group a {
  display: block;
  overflow: hidden;
  padding: 16px 16px 16px 0;
  margin-left: 16px;
  border-top: 1px solid #e4e4e4;
  color: #2c2e37;
}

.setting-group a:active {
  background-color: #f6f7f8;
}

.setting-group a:after {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 12px 12px;
  font-family: xeicon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e93e";
  color: #b5b7bd;
  font-size: 18px;
}

.setting-detail-content .btn-setting-close {
  position: absolute;
  right: 12px;
  top: 21px;
  padding: 8px;
  background-color: transparent;
  border: none;
  color: #2389ee;
  font-size: 25px;
  cursor: pointer;
}

.setting-group p,
.setting-detail p {
  margin-bottom: 8px;
  font-weight: 600;
  color: #2c2e37;
}

.setting-group .txt-set {
  font-size: 13px;
  color: #696e7a;
}

.main-content .setting-group.padding-small {
  padding: 10px 5%;
}

.main-content h3 + .setting-group {
  padding-top: 0;
}

.setting-group .setting-right {
  position: relative;
  margin-top: 15px;
}

.login-connect .setting-group .setting-right {
  margin-top: -9px;
}

.setting-card .text-gray {
  display: inline-block;
  font-size: 15px;
  color: #696e7a;
}

.setting-card .text-gray2 {
  display: block;
  margin-bottom: 14px;
  font-size: 15px;
  color: #696e7a;
}

.setting-card .text-gray3 {
  display: inline-block;
  margin-bottom: 10px;
  color: #9197a3;
  font-size: 14px;
}

.setting-card .setting-detail-content .password-content .text-message {
  color: #434a53;
}

.setting-card .setting-detail-content .password-content {
  margin-bottom: 8px;
}

.setting-card .setting-detail-content .password-content:last-of-type {
  margin-bottom: 0;
}

.setting-card .setting-detail-content .password-content p {
  font-size: 13px;
  color: #434a53;
}

.setting-card .setting-detail-content .password-content.wrong-input p,
.setting-card .setting-detail-content .password-content.wrong-input .text-message {
  color: #db2828;
}

.setting-card .setting-detail-content .password-content.wrong-input .xe-form-control {
  border-color: #dd251e;
}

.setting-card .acount-list {
  margin: 20px 0;
}

.setting-card .acount-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 15px;
  font-size: 13px;
  color: #434a53;
}

.setting-card .acount-list li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "·";
  color: #919196;
}

.setting-group .xi-naver {
  color: #23b300;
}

.setting-group .xi-facebook {
  color: #46629d;
}

.setting-group .xi-twitter {
  color: #00abf1;
}

.setting-group .xi-github {
  color: #333;
}

.login-connect .setting-group i {
  margin: 0 12px 2px 0;
  font-size: 24px;
  vertical-align: middle;
  opacity: .4;
}

.login-connect .setting-group .on i {
  opacity: 1;
}

.login-connect .setting-group .setting-left {
  color: #bebebe;
}

.setting-group .setting-left.on {
  color: #2c2e37;
}

.setting-group .email-list li {
  color: #1677cb;
  font-size: 15px;
  line-height: 23px;
}

.setting-group .email-list li a {
  margin-right: 10px;
  color: #696e7a;
}

.setting-group .email-list li a i {
  color: #bebebe;
}

.setting-group .email-list i {
  font-size: 12px;
}

.setting-card .text-blue {
  color: #2c8beb !important;
}

.setting-card .setting-detail-content .text-red {
  color: #db2828 !important;
  font-size: 13px;
}

.setting-group .xe-form-control + .text-blue {
  margin-top: 6px;
}

.setting-group .xe-form-control.margin {
  margin: 9px 0 25px;
}

.setting-group .setting-left {
  float: left;
  width: 70%;
}

.setting-group .setting-right {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
}

.setting-group .setting-right .togglebutton {
  margin-right: 16px;
}

.setting-card .setting-detail-content .setting-left {
  width: 70%;
}

.setting-card .xe-btn-group-all {
  margin: 24px 0 24px 16px;
}

.btn-group.text-group button {
  border-color: transparent;
  color: #2c8beb;
}

.menu-open {
  overflow: hidden;
  position: relative;
  max-width: 740px;
  margin: 10px auto 0;
  padding: 0 16px;
}

.menu-open .xe-menu-toggle {
  float: left;
  padding: 17px 13px;
  margin: 0 10px 0 -13px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.xe-menu-toggle .icon-bar {
  background-color: #359bf7;
  display: block;
  width: 26px;
  height: 1px;
  border-radius: 1px;
}

.xe-menu-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}

.menu-open .xe-menu-toggle + p {
  margin-top: 12px;
  font-size: 16px;
  color: #359bf7;
  line-height: 25px;
}

.snb.open + .dim {
  display: block;
  cursor: pointer;
}

.setting-wrap .snb-list {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 3px 17px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 17px rgba(0, 0, 0, 0.3);
  border-width: 1px 0 1px;
  z-index: 10;
}

.setting-wrap .snb-list:after {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 16px;
  height: 9px;
  background: url(img/ico_menu_arrow.png) 0 0 no-repeat;
  background-size: 16px 9px;
  content: "";
}

.setting-wrap .snb-list li {
  list-style: none;
  padding: 0 16px;
}

.setting-wrap .snb-list li a {
  display: block;
  padding: 14px 0;
  font-size: 15px;
  color: #2c2e37;
  border-bottom: 1px solid #e4e4e4;
}

.setting-wrap .snb-list li:last-child a {
  border-bottom: 0;
}

.setting-wrap .snb-list li.on a,
.setting-wrap .snb-list li a:hover {
  color: #2c8beb;
}

.setting-wrap .snb-list li a i {
  margin-right: 20px;
}

.setting-wrap .snb-list li a:hover {
  border-bottom-color: #2c8beb;
  color: #fff;
}

.setting-wrap .snb-list li:hover {
  background-color: #2c8beb;
}

@media (min-width: 768px) {
  /* tablet */
  .side-menu.xe-col-sm-3 {
    width: 20%;
  }
  .main-content.xe-col-sm-9 {
    width: 80%;
    padding-left: 50px;
    border-left: 1px solid #e4e4e4;
  }
  .setting-group .setting-left {
    float: left;
    width: 70%;
  }
  .setting-group .setting-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
  }
  .login-connect .setting-group .setting-right {
    position: static;
    float: right;
    margin-top: 0;
  }
  .setting-wrap h1 {
    padding: 0;
  }
  .setting-wrap h1 + p {
    margin: 24px 0 40px;
  }
  .main-content h2,
  .main-content h3 {
    padding: 0 0 12px 0;
  }
  .side-menu {
    padding: 0 !important;
  }
  .setting-group a {
    padding: 16px 0;
    margin-left: 0;
  }
  .setting-group .setting-group-content,
  .setting-detail-content {
    padding: 16px 0 16px;
    margin-left: 0;
  }
  .setting-group,
  .setting-detail {
    padding: 0;
  }
  .main-content .setting-group.padding-small {
    padding: 10px 0 20px;
  }
  .setting-card .xe-btn-group-all {
    margin-left: 0;
  }
  .setting-group .xe-form-control {
    width: 290px;
  }
  .menu-open {
    display: none;
  }
  .setting-card .xe-form-control {
    width: 280px;
  }
  .setting-card .btn-group {
    margin: 0 6px;
  }
  .setting-group-content .togglebutton {
    margin-right: 16px;
  }
  .setting-wrap .snb-list {
    display: block;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .setting-wrap .snb-list:after {
    background: none;
  }
  .setting-wrap .snb-list li:hover {
    background-color: transparent;
  }
  .setting-wrap .snb-list li a {
    display: block;
    padding: 10px 0 10px 24px;
    border-bottom: none;
    font-size: 15px;
    color: #2c2e37;
  }
  .setting-wrap .snb-list li.on a,
  .setting-wrap .snb-list li a:hover {
    color: #2c8beb;
  }
  .setting-wrap .snb-list li a i {
    margin-right: 20px;
  }
}

@media (min-width: 1068px) {
  /* desktop */
  .menu-open {
    display: none;
  }
  .setting-wrap .snb-list {
    background-color: transparent;
  }
  .snb {
    position: absolute;
    left: 0;
  }
}
