.media-manager-content {

}

// 리스트 타입
.media-manager-content__list-type {
  position: relative;

  // 리스트형 리스트 정렬 영역
  .media-manager-content-sort {
    .media-manager-content__button-sort {
      position: absolute;
      top: -48px;
      left: 0;
      margin: 0;
      padding: 0 15px;
      border: 0 none;
      font-size: 14px;
      line-height: 48px;
      background-color: transparent;
      letter-spacing: -0.03px;
      color: $n900;
      outline: none;
    }

    .media-manager-content-sort__list {
      display: none;
    }
  }

  .media-manager-content-header {
    display: none;
  }

  .media-manager-content-header__button {
    margin: 0;
    padding: 0 15px;
    border: 0 none;
    font-size: 14px;
    line-height: 48px;
    background-color: transparent;
    letter-spacing: -0.03px;
    color: $n900;
  }

  .media-manager-content-header__title {
    flex: 1;
    height: 48px;
  }

  .media-manager-content-header__writer {
    display: none;
  }

  .media-manager-content-header__size {
    display: none;
  }

  .media-manager-content-header__date {
    display: none;
  }

  // 리스트 영역
  .media-manager-content-list-box {
    .media-manager-content-list {
      .media-manager-content-list__checkbox {

      }

      .media-manager-content-list__icon {

      }

      .media-manager-content-list__content-box {

      }

      .media-manager-content-list__title {

      }

      .media-manager-content-list__writer {

      }

      .media-manager-content-list__size {

      }

      .media-manager-content-list__date {
        
      }
    }
  }
}

// 카드 타입
.media-manager-content__card-type {
  
}

/* mobile */
@media (max-width: 768px) {
  
}

/* tablet */
@media (min-width: 768px) {
  .media-manager-content__list-type {
    // 리스트형 리스트 정렬 영역
    .media-manager-content-sort {
      display: none;
    }

    .media-manager-content-header {
      display: flex;
      background-color: $n10;
    }

    .media-manager-content-header__title {
      .media-manager-content-header__button {
        margin-left: 10px;
      }
    }

    .media-manager-content-header__writer {
      display: block;
      flex: 0 0 120px;
      
      .media-manager-content-header__button {
        margin-right: 10px
      }
    }
  
    .media-manager-content-header__size {
      display: block;
      flex: 0 0 100px;
      
      .media-manager-content-header__button {
        margin-right: 10px
      }
    }
  
    .media-manager-content-header__date {
      display: block;
      flex: 0 0 120px;
      
      .media-manager-content-header__button {
        margin-right: 10px
      }
    }

    .media-manager-content-header__more {
      display: block;
      flex: 0 0 36px;
    }

    // 리스트 영역
    .media-manager-content-list {
      margin: 0;
      padding: 0;
      word-break: break-all;

      li {
        position: relative;
        display: flex;
        align-items: center;
        padding: 13px 0;
        border-top: 1px solid $n30;
        cursor: pointer;
        z-index: 10;

        &:hover {
          background-color: $n20;
        }

        &.active {
          background-color: $b100;
        }
      }

      .media-manager-content-list__checkbox {
        display: block;
        position: absolute;
        overflow: hidden;
        top: 14px;
        left: 30px;
        width: 1px;
        height: 1px;
      }

      .media-manager-content-list__icon {
        display: block;
        flex: 0 0 auto;

        .media-manager-content-list__icon-thumb {
          position: relative;
          margin: 0 15px 0 25px;
        }
      }

      .media-manager-content-list__content-box {
        display: flex;
        width: 100%;
        align-items: center;
      }

      .media-manager-content-list__title {
        flex: 1;
        margin-right: 10px;

        .media-manager-content-list__text {
          color: $n900;
        }
      }

      .media-manager-content-list__writer {
        display: block;
        flex: 0 0 120px;
        padding: 0 25px 0 15px;
      }

      .media-manager-content-list__size {
        display: block;
        flex: 0 0 100px;
        padding: 0 25px 0 15px;
      }

      .media-manager-content-list__date {
        display: block;
        flex: 0 0 120px;
        padding: 0 25px 0 15px;
      }

      .media-manager-content-list__more {
        display: block;
        flex: 0 0 42px;
        height: 18px;
        text-align: center;

        &.open {
          .media-manager__svg {
            fill: $n400;
          }
        }
      }

      .media-manager-content-list__text {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.03px;
        color: $n200;
      }
    }

    // 아이콘 이미지 공통
    .media-manager-content-list__icon-thumb {
      width: 24px;
      height: 24px;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 24px 24px;
    }

    .media-manager-content-list__icon-image {
      background-image: url(../img/icon-list-image.png);
    }

    .media-manager-content-list__icon-folder {
      background-image: url(../img/icon-list-folder.svg);
    }
  }
}