@charset "UTF-8";
html, body, .widget-wrap {
  height: 100%;
  min-height: 100%;
}

header h1, .snb-section h2, .widget-content h3 {
  margin: 0;
  padding: 0;
}

body, input, textarea, select, table, .dt_sl {
  font-family: "나눔바른고딕",NanumBarunGothic,'나눔고딕',NanumGothic,'맑은 고딕',malgungothic,'굴림',Gulim,AppleGothic,sans-serif;
  font-size: 13px;
  color: #2c2e37;
}

/*layout*/
.widget-wrap {
  background-color: #FAFAFA;
  min-width: 680px;
}

.widget-wrap .xe-btn-primary {
  background-color: #6F8DFF;
  border-color: #6F8DFF;
}

.widget-wrap .xe-btn-primary-outline {
  border-color: #6F8DFF;
}

.widget-wrap .xe-btn-primary-outline:hover {
  background-color: #6F8DFF;
  border-color: #6F8DFF;
}

.widget-wrap .xe-label > input[type="checkbox"]:hover + .xe-input-helper, .widget-wrap .xe-label > input[type="radio"]:hover + .xe-input-helper {
  border-color: #6F8DFF;
}

.widget-wrap .xe-label > input[type="checkbox"]:checked + .xe-input-helper {
  border-color: transparent;
  background-color: #6F8DFF;
}

.widget-wrap .xe-label > input[type="radio"]:checked + .xe-input-helper {
  border-color: #6F8DFF;
}

.widget-wrap .xe-label > input[type="radio"]:checked + .xe-input-helper:after {
  background-color: #6F8DFF;
}

header {
  height: 60px;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

header h1 {
  display: inline-block;
  font-size: 33px;
  line-height: 66px;
}

header h1 a {
  color: #6F8DFF;
}

header h1 a .brand-title {
  display: inline-block;
  width: 150px;
  height: 27px;
  margin-left: 5px;
  background: url(../img/h_brand.png) 0 50% no-repeat;
}

header > .xe-pull-right {
  margin-top: 12px;
}

header > .xe-pull-right .xe-btn {
  margin-left: 4px;
}

header > .xe-pull-right .xe-btn i {
  margin-right: 4px;
}

header > .xe-pull-right .xe-btn.xe-btn-link {
  font-size: 18px;
}

.widget-snb {
  position: absolute;
  left: 0;
  top: 59px;
  bottom: 0;
  width: 315px;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  color: #656973;
}

.widget-snb .snb-section {
  padding: 20px 20px 37px 20px;
  border-top: 1px solid #e5e5e5;
}

.widget-snb .snb-section .cell-config-btn .xe-btn {
  margin-right: 2px;
}

.widget-snb .snb-section .cell-config-btn .xe-btn-group > .xe-btn:first-child:not(:last-child):not(.xe-dropdown-toggle) {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  margin-right: 2px;
}

.widget-snb .snb-section .cell-config-btn .xe-btn-group.vertical-list > .xe-btn:first-child:not(:last-child):not(.xe-dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0;
}

.widget-snb .snb-section h2,
.widget-snb .snb-section h3 {
  font-size: 24px;
  font-weight: normal;
  color: #2c2e37;
}

.widget-snb .snb-section h3 {
  font-size: 15px;
}

.widget-snb .snb-section h3 i {
  font-size: 18px;
  vertical-align: bottom;
  color: #656973;
}

.widget-snb .snb-section .xe-form-group {
  margin-bottom: 10px;
}

.widget-snb .snb-section .xe-form-inline {
  margin-bottom: 10px;
}

.widget-snb .snb-section .xe-form-inline .xe-form-group {
  margin-bottom: 0;
}

.widget-snb .snb-section .text-horizontal {
  display: inline-block;
  background: url(../img/ico_horizontal.png) 0 50% no-repeat;
  padding-left: 20px;
}

.widget-snb .snb-section .xe-btn i {
  margin-right: 5px;
  font-size: 16px;
  vertical-align: bottom;
  padding-bottom: 2px;
}

.widget-snb .snb-section .xe-dropdown-menu.drag-cell {
  width: 200px;
  padding: 20px;
  margin-top: 2px;
  text-align: center;
}

.widget-snb .snb-section .xe-dropdown-menu.drag-cell .xe-btn {
  margin: 16px 0 0 6px;
}

.widget-snb .snb-section .xe-dropdown-menu.drag-cell .xe-btn:first-of-type {
  margin-left: 0;
}

.widget-snb .snb-section .xe-dropdown-menu.drag-cell li {
  display: inline-block;
  font-size: 0;
}

.widget-snb .snb-section .xe-dropdown-menu.drag-cell li span {
  display: block;
  width: 23px;
  height: 23px;
  background-color: #C8C9CC;
  border: 1px solid #AFB0B3;
  cursor: pointer;
}

.widget-snb .snb-section .xe-dropdown-menu.drag-cell li.hover span {
  background-color: #6F8DFF;
  border: 1px solid #5779D9;
}

.widget-snb .xe-btn-group.vertical-list {
  text-align: center;
}

.widget-snb .xe-btn-group.vertical-list .text-vertical {
  display: inline-block;
  background: url(../img/ico_vertical.png) 0 50% no-repeat;
  padding-left: 20px;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu {
  width: auto;
  padding: 7px 15px 15px 15px;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li {
  font-size: 0;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li a {
  overflow: hidden;
  padding: 8px 0;
  color: #fff;
  white-space: nowrap;
  text-align: center;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li a:hover {
  background-color: transparent;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li a:hover > span em {
  background-color: #6F8DFF;
  border-color: #5779D9;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li a:hover > span em::after {
  background-color: #5779D9;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li a > span {
  padding: 0;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li a > span > em {
  display: block;
  position: relative;
  height: 22px;
  margin-left: 5px;
  background-color: #C8C9CC;
  border: 1px solid #AFB0B3;
  font-size: 12px;
  line-height: 22px;
  font-style: normal;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li a > span::after {
  position: absolute;
  left: 2px;
  top: -3px;
  width: 1px;
  height: 27px;
  background-color: #AFB0B3;
  content: "";
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li a > span:first-of-type em {
  margin-left: 0;
}

.widget-snb .xe-btn-group.vertical-list .xe-dropdown-menu li a > span:first-of-type::after {
  background-color: transparent;
}

.widget-snb .xe-btn-group.vertical-list .xe-input-group {
  margin-top: 7px;
}

.widget-snb .xe-btn-group.vertical-list .xe-input-group .xe-form-control {
  width: 120px;
}

.widget-container {
  margin-left: 315px;
  padding: 20px 15px 100px;
  background-color: #FAFAFA;
}

.widget-container .widget-content h3 {
  margin: 0 0 10px 5px;
  font-size: 15px;
}

.widget-container .widget-content h3 i {
  font-size: 18px;
  vertical-align: bottom;
  color: #656973;
}

.dimd {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 90;
  background: #000;
  opacity: .5;
  cursor: default;
}

.widget-layer {
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: -470px;
  width: 470px;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  z-index: 100;
  color: #656973;
  font-size: 13px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.widget-layer.open {
  left: 0;
}

.widget-layer p {
  margin: 5px 0;
  line-height: 19px;
}

.widget-layer h1 {
  margin: 0 0 25px 0;
  font-size: 24px;
  font-weight: normal;
  color: #2D2D35;
}

.widget-layer h2 {
  position: relative;
  margin: 0 0 15px 0;
  padding-bottom: 5px;
  font-weight: normal;
  font-size: 20px;
  color: #6F8DFF;
  border-bottom: 1px solid #e5e5e5;
}

.widget-layer h2 .btn-section-close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #656973;
  font-size: 18px;
}

.widget-layer .seciton {
  margin-top: 35px;
}

.widget-layer .seciton.close .btn-section-close i {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.widget-layer .layer-close {
  position: absolute;
  right: 27px;
  top: 27px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 20px;
  color: #656973;
}

.widget-layer .btn-center {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.widget-layer .btn-center .xe-btn {
  margin-left: 6px;
}

.widget-layer .btn-center .xe-btn:first-child {
  margin-left: 0;
}

.editor .widgetarea-row > div {
  border: 5px solid #FAFAFA;
  background: #e6e6e6;
  border-radius: 4px;
  padding-top: 15px;
}

.editor .widgetarea-row .widgetarea {
  border: none;
  background: none;
  min-height: 140px;
}

.editor .widgetarea-row .selected {
  background-color: #B8DBFD;
}

.editor .widgetarea-row .widget-config-btn .xe-btn {
  padding: 3px;
  color: #656973;
  font-size: 18px;
}

.editor .widgetarea-row .xe-well {
  margin-bottom: 10px;
  padding: 7px 15px;
  background-color: #fff;
  border: 1px solid #C8C9CC;
}

.editor .widgetarea-row .xe-well strong {
  font-weight: normal;
  font-size: 18px;
  line-height: 33px;
}

.layout-controller .btn-group {
  margin-bottom: 10px;
}

.order {
  display: none;
}

.editor .order {
  display: block;
  position: absolute;
  left: 5px;
  top: 3px;
  color: #656973;
}

/*0727 blueng 추가건*/
.editor.layout-mobile {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.editor.layout-mobile .xe-col-md-1,
.editor.layout-mobile .xe-col-md-2,
.editor.layout-mobile .xe-col-md-3,
.editor.layout-mobile .xe-col-md-4,
.editor.layout-mobile .xe-col-md-5,
.editor.layout-mobile .xe-col-md-6,
.editor.layout-mobile .xe-col-md-7,
.editor.layout-mobile .xe-col-md-8,
.editor.layout-mobile .xe-col-md-9,
.editor.layout-mobile .xe-col-md-10,
.editor.layout-mobile .xe-col-md-11,
.editor.layout-mobile .xe-col-md-12 {
  width: 100%;
}

.editor .dropzone {
  background-color: #336699 !important;
}

.editor .dropzone .order {
  color: #FFF !important;
}

.widget-margin {
  position: relative;
  width: 160px;
}

.widget-margin:after {
  content: "px";
  position: absolute;
  top: 9px;
  right: 10px;
  font-size: 12px;
  z-index: 3;
}

.widget-margin .widget-margin-type {
  display: inline-block;
  padding: 6px 10px;
  margin: 0 -1px 0 0;
  border: 1px solid #bbbcbf;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 2px;
  color: #333;
}

.widget-margin .inner-box {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 6px;
  padding: 2px 0 0 2px;
  border: 1px solid #999;
  transform: translateY(2px);
}

.widget-margin .inner-box i {
  display: block;
  width: 7px;
  height: 7px;
  border: 1px solid #999;
}

.widget-margin .inner-box:before, .widget-margin .inner-box:after {
  position: absolute;
  content: "";
  background-color: #999;
}

.widget-margin .inner-box.top:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.widget-margin .inner-box.bottom:before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

.widget-margin .inner-box.left:before {
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
}

.widget-margin .inner-box.left:after {
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
}

.widget-margin .xe-form-control {
  height: 33px;
  padding: 6px 32px 10px 6px;
  border-color: #bbbcbf;
  text-align: right;
}
