.crs {
  position: relative;
}
.crs-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.crs-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
  z-index: 0;
  background-color: #f4f4f4;
  text-align: center;
}
.crs-inner > .item > img,
.crs-inner > .item > a > img {
  line-height: 1;
  display: inline-block;
  max-width: 90%;
  height: auto;
  margin:0 auto;
  vertical-align: middle;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .crs-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000;
            perspective: 1000;
  }
  .crs-inner > .item.next,
  .crs-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .crs-inner > .item.prev,
  .crs-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .crs-inner > .item.next.left,
  .crs-inner > .item.prev.right,
  .crs-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.crs-inner > .active,
.crs-inner > .next,
.crs-inner > .prev {
  display: block;
}
.crs-inner > .active {
  left: 0;
  z-index: 1;
}
.crs-inner > .next,
.crs-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.crs-inner > .next {
  left: 100%;
}
.crs-inner > .prev {
  left: -100%;
}
.crs-inner > .next.left,
.crs-inner > .prev.right {
  left: 0;
}
.crs-inner > .active.left {
  left: -100%;
}
.crs-inner > .active.right {
  left: 100%;
}

/*.crs-inner > .item > .check {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*filter: alpha(opacity=50);*/
    /*opacity: .5;*/
    /*-webkit-box-shadow:inset 0 0 40px purple;*/
    /*border: 13px solid red;*/
/*}*/

.crs-inner > .item > .check {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 60px;
  height: 60px;
  filter: alpha(opacity=60);
  opacity: .6;
  /*border: 13px solid red;*/
  background-color: #ddd;
  border-radius: 100px;
  color: #fff;
  line-height: 60px;
}
.crs-inner > .item > .check.active {
  background-color: #efef00;
}
.crs-inner > .item > .check > i {
  margin-top: 10%;
  font-size: 45px;
}
.crs-inner > .item > .check.active > i {
  color: #000;
}

.crs-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
  z-index: 10;
}
.crs-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.crs-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.crs-control:hover,
.crs-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.crs-control .icon-prev,
.crs-control .icon-next,
.crs-control .glyphicon-chevron-left,
.crs-control .glyphicon-chevron-right,
.crs-control .xi-caret-left,
.crs-control .xi-caret-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.crs-control .icon-prev,
.crs-control .glyphicon-chevron-left,
.crs-control .xi-caret-left {
  left: 50%;
  margin-left: -10px;
}
.crs-control .icon-next,
.crs-control .glyphicon-chevron-right,
.crs-control .xi-caret-right {
  right: 50%;
  margin-right: -10px;
}
.crs-control .icon-prev,
.crs-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
  line-height: 1;
}
.crs-control .icon-prev:before {
  content: '\2039';
}
.crs-control .icon-next:before {
  content: '\203a';
}
.crs-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.crs-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .6);
}
.crs-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}

/*.crs-inner > .item:hover .crs-caption {*/
    /*display: block;*/
/*}*/

.crs-caption {
  position: absolute;
  /*right: 15%;
  bottom: 20px;
  left: 15%;*/
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  /*padding-bottom: 20px;*/
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .6);
  line-height: 1;
  /*display: none;*/
  display: block;
  background: rgba(132, 132, 132, .5);
}
.crs-caption .btn {
  text-shadow: none;
}
.crs-caption .links {
    margin-left: 3px;
}
.crs-caption .links a {
    color: #8ba8fa;
    font-size: 12px;
}
@media screen and (min-width: 768px) {
  .crs-control .glyphicon-chevron-left,
  .crs-control .glyphicon-chevron-right,
  .crs-control .icon-prev,
  .crs-control .icon-next,
  .crs-control .xi-caret-left,
  .crs-control .xi-caret-right {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .crs-control .glyphicon-chevron-left,
  .crs-control .icon-prev,
  .crs-control .xi-caret-left {
    margin-left: -15px;
  }
  .crs-control .glyphicon-chevron-right,
  .crs-control .icon-next,
  .crs-control .xi-caret-right {
    margin-right: -15px;
  }
  .crs-caption {
    /*right: 20%;
    left: 20%;
    padding-bottom: 30px;*/
    right: 0;
    left: 0;
    padding-bottom: 60px;
  }
  .crs-indicators {
    bottom: 20px;
  }
}
