@charset "utf-8";
/* CSS Document */

/*bs reset*/
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 17px !important;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.fade.in {
    opacity: 1;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
@media (min-width: 768px){
.modal-dialog {    width: 600px;    margin: 30px auto;}
.modal-sm {width: 300px;}
}

@media (min-width: 992px){
.modal-lg {width: 900px}
}
.text-center{text-align:center !important}
.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px;
}
hr {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #e4e4e4;
}

/*bs custom*/
.modal p{font-size:14px;color:#8e8e93}
.modal .modal-title{margin: 0;line-height: 1.42857143;font-size: 20px;line-height: 28px;font-size:20px;color:#434a53}
.modal-header {min-height: auto;padding: 24px;border-bottom: none;}
.modal-header.bg_gray{background-color:#F1F2F6}
.modal-header.bg_blue{background-color:#2C8BEB}
.modal-header.bg_blue .modal-title{color:#fff} 
.modal-header button.close{position:absolute;right:24px;top:24px;z-index: 10;}
.modal-header.bg_blue button.close{color:#fff;opacity:1} 
.modal-content{border-radius:2px}
.modal-body .ico_result{margin-bottom: -25px;font-size:130px;color: #2C8BEB;}
.modal-body {padding: 0 24px 24px 24px;}
.modal-body .body_tit,.modal-body .txt_result{margin-bottom:5px;font-size:16px;color:#434a53}
.modal-body .txt_result{font-size:20px}
.modal-body .ico_result.error{color:#434a53}
.modal-body .ico_result.error{color:#DB2828}
.modal-body .ico_result.warning {color:#F2711C}
.modal-body .ico_result.info {color:#696E7A}
.modal-body hr{margin:24px auto;}
.modal-footer {padding: 8px 24px 24px 24px;text-align: right;border-top: none;}
.modal .btn{min-width:64px}
.modal-footer.text-center{text-align:center !important}
.modal .list-group {overflow-y: auto;padding-left: 24px;margin-bottom: 0;max-height: 365px;}
.modal .list-group .img_thmb{overflow:hidden;display: table-cell;border-radius:50%;width: 48px;height: 48px;}
.modal .list-group li{overflow:hidden;padding: 12px 24px 12px 0;border-top:1px solid #e4e4e4;list-style: none;  }
.modal .list-group li:first-child{border-top:none}
.modal .list-group .list_txt{display: table-cell;      vertical-align: middle;padding-left: 10px;text-align: left;}
.modal .list-group .list_txt>p{font-size:16px;color:#2c2e37}
.modal .list-group .list_txt .txt_sub{font-size:14px;color:#b5b7bd}
.modal .list-group li>a, .modal .list-group li>div{display:table;height:100%;width:100%}

