// normalize
@import "../../../../../node_modules/normalize.css/normalize";

// XE Common
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.xe-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.xe-sr-only-focusable:active,
.xe-sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.xe-pull-right {
  float: right !important;
}
.xe-pull-left {
  float: left !important;
}

@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.xe-ellipsis{
  @include text-overflow;
}

.xe-show {
  display: block !important;
}
.xe-hidden {
  display: none !important;
}
.xe-invisible {
  visibility: hidden;
}
