.__xe_short_date {
    display: none;
}

.__xe_preview_select > div > div.col-md-4 > div.active {
    background-color: #ececec;
}
.__xe_preview_select > div > div.col-md-4 > div {
    margin: 10px;
    border: 1px solid #444444;
}
.__xe_preview_select > div > div.col-md-4 > div button {
    float: right
}

.btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
}

.btn-circle-micro {
    width: 19px;
    height: 19px;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 0.1;
    border-radius: 30px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    line-height: 1.65;
    border-radius: 30px;
}

.btn-circle-lg {
    width: 79px;
    height: 79px;
    text-align: center;
    padding: 13px 0;
    font-size: 30px;
    line-height: 2.00;
    border-radius: 70px;
}

.suggestions {
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #fff;
    border: 1px solid #c2c9d4;
    color: #546673;
    font-size: 13px;
    z-index: 999;
}

.suggestions li {
    height: 40px;
    line-height: 40px;
    padding: 0 14px;
    cursor: pointer;
}

.suggestions li.selected {
    background: #ebeef0;
}

.error-text {
    color: red;
}