@charset "utf-8";

.member .signin{width:420px;margin:30px auto;box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1),0 6px 20px 0 rgba(0, 0, 0, 0.1)}
.member .signin a:hover,
.member .signin a:focus,
.member .signin a:active{text-decoration:none}
.member .signin form{margin:0}
.member .signin fieldset{margin:0}
.member .signin .login-header{padding:32px 40px}
.member .signin .login-header>h1{margin:0;line-height:1.4;font-weight:normal;color:#6d6d6d;text-align:center}
.member .signin .login-body{padding:0 40px}
.member .signin .login-body-v2{padding-bottom:50px}
.member .signin .login-body>*:first-child{margin-top:0}
.member .signin .login-footer{padding:11px 0 34px;margin:20px 40px 0;text-align:center;border-top:1px solid #ccc;color:#888}
.member .signin .login-footer>a{font-size:12px;color:#888}
.member .signin .login-footer>a:hover,
.member .signin .login-footer>a:active,
.member .signin .login-footer>a:focus{text-decoration:underline}
.member .signin .login-footer>.bar{display:inline-block;margin:0 8px}
.member .signin .control-group{position:relative;padding:0;margin:0;clear:both}
.member .signin .control-group:before{content:"";display:block;clear:both}
.member .signin label{cursor:pointer;display:inline-block;margin:-1px 0 0;color:#333;line-height:14px;font-size:13px;font-weight:normal}
.member .signin input[type="text"],
.member .signin input[type="email"],
.member .signin input[type="password"]{font-size:14px;width:100%;height:48px;margin-bottom:10px;padding:12px 6px 12px 10px;border-radius:0;border:1px solid #e1e1e1;background-color:#fff;color:#6d6d6d;line-height:14px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition:none;-moz-transition:none;transition:none;box-sizing:border-box}
.member .signin input[type="checkbox"]{margin:0 6px 0 0;width:13px;height:13px;vertical-align:top}
.member .signin input[type="email"]:focus,
.member .signin input[type="password"]:focus,
.member .signin input[type="text"]:focus{border:1px solid #4669cd}
.member .signin .error,
.member .signin .guide{margin:1px 0 13px;background:none;color:#f00;font-size:13px}
.member .signin .guide{color:#6d6d6d}
.member .signin .guide-v2{margin-bottom:8px}
.member .signin .btn-submit{font-size:15px;color:#fafafa;border:1px solid #5e91ee;background-color:#72a3fd;width:100%;margin:10px 0 0 0;padding:14px 0px;cursor:pointer}
.member .signin #warning>p{margin:9px 0 -7px;color:#888;font-size:12px;line-height:18px}
.member .signin .login-social{overflow:hidden;padding-bottom:8px}
.member .signin .login-social p{height:16px;margin:10px 0;font-size:13px;font-weight:bold;color:#888;text-align:center;line-height:16px}
.member .signin .login-social a{display:block;position:relative;height:48px;margin-bottom:8px;line-height:48px;text-align:center;font-size:15px;color:#fafafa}
.member .signin .login-social i{position:absolute;left:9px;top:7px;width:34px;height:34px;font-size:32px;line-height:34px}
.member .signin .login-social .lg-naver{border:1px solid #18b014;background-color:#2bcc09}
.member .signin .login-social .lg-facebook{border:1px solid #465f91;background-color:#4d67a4}
.member .signin .login-social .lg-twitter{border:1px solid #269cbc;background-color:#26a7df}
.member .signin .login-social .lg-github{margin-bottom:0;border:1px solid #646464;background-color:#4d4d4d}
.member .signin .g-recaptcha{margin-top:15px}

.member .signup .login-body{padding-bottom:40px}
.member .signup .error,
.member .signup .guide{margin:-4px 0 18px}
.member .signup .login-social{margin-top:30px;padding-bottom:10px}
.member .signup .login-social p{float:left}
.member .signup .login-social-area{overflow:hidden;float:right}
.member .signup .login-social-area a{float:left;width:40px;height:40px;margin:0 0 0 5px;border:0;border-radius:100%}
.member .signup .login-social-area i{position:static;top:auto;left:auto;font-size:25px;line-height:40px}
.member .signup #term{height:170px;margin:17px 0 5px;border:1px solid #f0f0f0;padding:20px;background-color:#f2f2f2}
.member .signup .term-box{position:relative;height:130px;overflow:auto;scrollbar-base-color:#d9d9d9;scrollbar-3dlight-color:#d9d9d9;scrollbar-darkshadow-color:#d9d9d9;scrollbar-face-color:#d9d9d9;scrollbar-highlight-color:#d9d9d9;scrollbar-shadow-color:#d9d9d9;scrollbar-track-color:#f2f2f2;-webkit-overflow-scrolling:touch}
.member .signup .term-box h2,
.member .signup .term-box h3,
.member .signup .term-box h4,
.member .signup .term-box p,
.member .signup .term-box ul,
.member .signup .term-box li{margin:0;padding:0;font-size:12px;font-weight:normal}
.member .signup .term-box ul,
.member .signup .term-box li{list-style:none}
.member .signup .term-box h3{margin:20px 0 10px}
.member .signup .term-box h4{margin:10px 0 5px}
.member .signup .term-box li{margin-bottom:3px}
.member .signup .term-box p{margin-bottom:5px}

@media all and (max-width:768px){
    .member .signin{width:100%;box-shadow:none}
    .member .signin>.login-header{padding:32px 15px}
    .member .signin>.login-body{padding-left:20px;padding-right:20px}
    .member .signin>.login-footer{margin:20px 15px 0}
    .member .signin .g-recaptcha{transform: scale(0.77);transform-origin: 0 0 0}
}












