/* .lang-editor-box {margin-bottom: 5px;} */

/* .lang-editor-box .input-group:not(:first-of-type) {display: none;} */
.lang-editor-box .input-group {
  margin-bottom: 5px;
}

.lang-editor-box .sub {
  display: none;
}
