@charset "utf-8";
/* CSS Document */

/*reset css*/
.blind,legend {position: absolute;clip: rect(0 0 0 0);width: 1px;height: 1px;margin: -1px; overflow: hidden;}
.member em{font-style: normal}
.member a{color:#2c8beb;text-decoration: none}
.member a:hover{color: #085daa;}
.member ul,.member h1,.member form,.member fieldset,.member .hr .txt_hr,.member .auth_txt{margin:0;padding:0}
    
.xo-container {
  padding-right:4px;
  padding-left: 4px;
  margin-right: auto;
  margin-left: auto;
}

.xo-container-fluid {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: auto;
    margin-left: auto;
}


.xo-row{margin-right:-4px;margin-left:-4px}
.pull-r{float:none}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #e4e4e4;
}

.xo-col-xs-1, .xo-col-sm-1, .xo-col-md-1, .xo-col-lg-1, .xo-col-xs-2, .xo-col-sm-2, .xo-col-md-2, .xo-col-lg-2, .xo-col-xs-3, .xo-col-sm-3, .xo-col-md-3, .xo-col-lg-3, .xo-col-xs-4, .xo-col-sm-4, .xo-col-md-4, .xo-col-lg-4, .xo-col-xs-5, .xo-col-sm-5, .xo-col-md-5, .xo-col-lg-5, .xo-col-xs-6, .xo-col-sm-6, .xo-col-md-6, .xo-col-lg-6, .xo-col-xs-7, .xo-col-sm-7, .xo-col-md-7, .xo-col-lg-7, .xo-col-xs-8, .xo-col-sm-8, .xo-col-md-8, .xo-col-lg-8, .xo-col-xs-9, .xo-col-sm-9, .xo-col-md-9, .xo-col-lg-9, .xo-col-xs-10, .xo-col-sm-10, .xo-col-md-10, .xo-col-lg-10, .xo-col-xs-11, .xo-col-sm-11, .xo-col-md-11, .xo-col-lg-11, .xo-col-xs-12, .xo-col-sm-12, .xo-col-md-12, .xo-col-lg-12 {
  padding-right: 4px;
  padding-left: 4px;
}	
.row_tit{margin:5px 0;padding-left:4px;font-size:14px}
.row_tit i{margin-left:10px}
.member{max-width: 330px;margin:0 auto;padding: 32px 5px 24px;color:#2c2e37;font-size: 14px}
.member,input,textarea,select,table,h1,h2,h3,h4,h5,h6{font-family:'Source Sans Pro','나눔바른고딕',NanumBarunGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif}
.member.v2{max-width: 430px;}
.member fieldset{border:none}
.member .inpt_txt{margin:0;background-color: transparent;}
.member .txt_message{color:#696e7a}
.member .txt_message.normal{color:#696e7a !important}
.member .select-style{display:block}
.member .auth_group{position: relative;margin-bottom:8px}
.member.find_pass .auth_group{position: relative;margin-bottom:16px}
.member .inpt_group{margin:16px 0}
.member .inpt_group label{font-size:14px;color:#696e7a;line-height:20px;font-weight:normal}
.member h1{margin-bottom:24px;font-size:24px;line-height:32px;font-weight:normal}
.member .sub_txt{margin-bottom:16px;font-size:14px;color: #696e7a;}

.member .g-recaptcha{margin:16px auto}
.member .btn_blue,.member .btn_txt{width:100%;margin-bottom: 16px;text-align:center}
.member .btn_blue{color:#fff}
.member .auth_txt{margin-top:24px;text-align:center}
.member .auto_txt{font-size:14px;color:#696e7a;line-height:20px}
.member .auto_txt a{color:#2c8beb,}
.member .auth_noti{margin-top: 12px;font-size:13px;color:#8e8e93;line-height:18px}
.member .hr{border-top:1px solid #e4e4e4}
.member .hr .txt_hr{margin-top: -12px;text-align:center}
.member .hr .txt_hr>span{padding:0 16px;background-color:#fff}
.member .auth_sns{position: relative;padding: 23px 0 20px;text-align:center;border-bottom: 1px solid #e4e4e4;}
.member .auth_sns li{display:inline-block;list-style-type: none;width: 48px;}
.member .auth_sns li a{display:inline-block;width: 40px;height: 40px;border-radius:50%;background-color:#3B5998}
.member .auth_sns li.sns_facebook a{background-color:#3B5998}
.member .auth_sns li.sns_twitter a{background-color:#55ACEE}
.member .auth_sns li.sns_naver a{background-color:#23B300}
.member .auth_sns li.sns_google a{background-color:#4184F3}
.member .auth_sns li.sns_github a{background-color:#444}
.member .auth_sns li.sns_line a{background-color:#00C300}

.member .auth_sns li.sns_facebook a:hover{background-color:#1D315B}
.member .auth_sns li.sns_twitter a:hover{background-color:#006DAA}
.member .auth_sns li.sns_naver a:hover{background-color:#1C8D00}
.member .auth_sns li.sns_google a:hover{background-color:#3A76D6}
.member .auth_sns li.sns_github a:hover{background-color:#222}
.member .auth_sns li.sns_line a:hover{background-color:#23B300}
.member .auth_sns li a i{color:#fff;font-size:25px;line-height: 40px;}
.member hr{margin:0;border-color:#e4e4e4}

.member .auth_sns.v2{border-bottom:none}
.member .auth_sns.v2 ul{max-width: 230px;margin: 8px auto 16px;}  
.member .auth_sns.v2 li{display:block}
.member .auth_sns.v2 li a{display: block;width: 230px;margin-bottom: 8px;padding: 0 16px;border-radius: 20px;color: #fff;font-size: 14px;line-height: 40px;text-align: left;}

.member .auth_sns.v2 li a i{line-height:inherit;vertical-align: middle;margin-right: 7px;}

.member .auth_group .btn_eye{position: absolute;top: 0;right: 4px;width: 36px;height: 36px;padding: 0;color: #8e8e93;font-size: 19px;border-color: transparent;background-color: transparent;}
.member .auth_group .btn_eye .xi-eye-slash,.member .auth_group .btn_eye.on .xi-eye{display:none}
.member .auth_group .btn_eye.on .xi-eye-slash{display:block}
.member .auth_group.option{background-color:#F6F7F8;color:#2c2e37}

.info{margin-bottom:16px;border-bottom:1px solid #e4e4e4}
.info p{margin:0 0 24px;color:#696e7a}
.info em,.member .sub_txt em{font-weight: 600;color:#2c2e37}
.info em.info_tit{display: inline-block;margin-bottom:8px}