@charset "utf-8";
/* CSS Document */

/* Custom gird 15px -> 12px */
.container {
  padding-right:12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid.card_area {
  margin-right: auto;
  margin-left: auto;
}

.row{margin-right:-12px;margin-left:-12px}
.pull-r{float:none}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #e4e4e4;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 12px;
  padding-left: 12px;
}
@media (min-width: 768px) {
  .container-fluid.card_area {
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
  }

  .pull-r {
    float: right
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container .navbar-nav,
.container-fluid .navbar-nav {
  margin-right: -12px;
  margin-left: -12px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.btn-group, .btn-group-vertical{margin-right:8px}

.panel>.list-group .list-group-item{border-width:1px 0 1px 2px}
.admin_wrap .input-group-btn{width:auto}

.alert{margin:0;padding:0;border-color:transparent;background-color:transparent !important}
.alert i{margin-right:5px;vertical-align:middle}
.alert-danger{color:#db2828}
.alert-link{color:#2c8beb !important;font-weight:normal !important}
.alert-link:hover{color:#085daa !important}

.input-group.inline_style{display:inline-block;font-size: 0;}
.input-group.inline_style .input-group-btn,.input-group.inline_style .form-control{display:inline-block;float:none;margin-bottom:2px;vertical-align: middle;}
.dropdown-menu .divider{margin:0}

.label {
  display: inline-block
}

.label.label-green {
  background-color: #00b96e
}

.label.label-teal {
  background-color: #00b5ad
}

.label.label-blue {
  background-color: #2c8beb
}

.label.label-violet {
  background-color: #6335c9
}

.label.label-purple {
  background-color: #aa46bb
}

.label.label-pink {
  background-color: #f4645f
}

.label.label-brown {
  background-color: #a5673f
}

.label.label-grey {
  background-color: #8e8e93
}

.label.label-black {
  background-color: #2c2e37
}

/* layout */
html{background:url(../img/bg_admin_snb.gif) 0 0 repeat-y}

html, body, .admin_wrap {
  position: relative;
  left: 0;
  right: 0;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0
}

header {
  position: relative;
  height: 64px;
  background: #fff;
  box-shadow: 0 0px 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, .3);
  z-index: 10;
}
#content{position:relative;clear:both;min-height:100%;margin:-64px 0 -47px 0;background-color:#F1F2F6}
aside{position: fixed;left:-240px;top: 0;bottom: 0;width: 240px;min-height: 100%;background-color: #2C2E37;z-index:100;height:auto;box-sizing:border-box;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch }
.ct{padding:64px 0 47px}
.footer{position:relative;height:47px;padding: 14px 24px;margin-left:0;font-size:13px;color:#8e8e93}

.dim{z-index:50}

.logo_area {
  padding-left: 24px;
  background-color: #fff;
}
.logo_area img{vertical-align:middle;margin-right:16px;}
li{list-style:none}

.trasition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease
}
.logo_area h1{min-width: 216px;height:64px;font-size:16px;vertical-align:middle;line-height: 64px;}
.logo_area h1 a{color:#2c2e37}
header .btn_slide,header .btn_site_home{height:100%;padding:0 20px;background-color:#fff;border:1px solid #e4e4e4;border-width:0 1px;outline:none;font-size:26px;color:#9D9DA1;}
header .btn_site_home{margin-left:-3px;border-left:none}
header .btn_slide i,header .btn_site_home i{-webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;transition: transform .3s ease-in-out,width .3s ease-in-out;}

header .right_menu{position:absolute;right:0;top:0}
header .right_menu>ul>li{position: relative;float: left;border-left:1px solid #e4e4e4;}
header .right_menu>ul>li:first-child{border-left:none}
header .right_menu>ul>li>a{display:table;padding: 0 16px;font-size:14px;color:#2c2e37}
header .right_menu>ul>li>a:active{background-color:#F1F2F6}
header .right_menu li a>div{display:table-cell;vertical-align:middle;height:64px}
header .right_menu li a img{vertical-align:middle;margin-right:10px;border-radius:50%}
header .right_menu li a.btn_hd_lst{padding: 19px;font-size: 19px;color:#9D9DA1}
header .right_menu li a .xi-angle-down{font-size:12px;color:#c1c1c1}
header .right_menu .dropdown-menu{min-width: 160px;top:100%;right: 0;left: auto;margin-top: 1px;padding: 8px 0;border-top: none;}
header .right_menu .dropdown-menu li.on a:after{display:none}
header .right_menu .dropdown-menu li a{padding: 10px 16px 10px 16px;}

aside .lst_tit{padding:11px 16px 11px 24px;color:#696e7a;font-size:12px}
aside .snb_lst li a{display:block;position:relative}
aside .snb_lst>li a{height:48px;padding:0 16px 0 24px;line-height:48px;vertical-align:middle;background-color:#22242C;font-size:14px;color:#b5b7bd}
aside .snb_lst li.on a,aside .snb_lst li.on:hover a{background-color:#2C8BEB;color:#fff}
aside .snb_lst li.off a{color:#696e7a}

aside .snb_lst li.sub_depth > a:after {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 8px;
  height: 8px;
  margin-top: -6px;
  border-right: 1px solid #b5b7bd;
  border-bottom: 1px solid #b5b7bd;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

aside .snb_lst li.sub_depth.open > a:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}
aside .snb_lst>li a i{margin-right:16px;}
aside .snb_lst li ul.sub_depth_lst{display:none}
aside .snb_lst li.open>ul.sub_depth_lst{display:block;}
aside .snb_lst>li>ul.sub_depth_lst li a{padding-left:54px}
aside .snb_lst>li>ul.sub_depth_lst li ul.sub_depth_lst a{padding-left:70px}
aside .snb_lst li ul.sub_depth_lst a{height:40px;line-height:40px}
aside .snb_lst li a .lst_label{float:right;margin-top: 2px;font-size: 12px;}
aside .snb_lst .sub_depth.open>a, aside .snb_lst a:hover{background-color:#1A1B21;color: #fff;}
aside .snb_lst li a .xo-badge{top: 50%;right: 16px;left: auto;margin:-10px 0 0 0}
.tit_area{position:relative;margin-bottom:24px;background-color:#fff;box-shadow: 0 0px 3px rgba(0, 0, 0, .3);  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, .3);}
.tit_area .tit_con{position:relative;padding: 24px;}
.tit_area .tit_bottom{margin: 24px -24px 0;padding: 15px 24px 0;border-top:1px solid #e4e4e4}
.tit_area .tit_con .tit_btn_area{position:absolute;right: 24px;top: 24px;}
.tit_area .tit_con .tit_btn_area button.visible-xs{width:40px;height:40px;background-color:transparent;border:none}
.tit_area .tit_con .tit_btn_area .btn_lst{display:none;position: absolute;overflow:hidden;right: 0;top: 45px;min-width: 195px;box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);z-index: 10;background-color: #fff;}

.tit_area .tit_con .tit_btn_area .btn_lst button, .tit_area .tit_con .tit_btn_area .btn_lst a {
  display: inline-block;
  width: 100%;
  padding: 0 36px 0 18px;
  color: #2c2e37;
  border-radius: 0;
  font-size: 14px;
  text-align: left;
  line-height: 38px;
}
.tit_area .tit_con .tit_btn_area .btn_lst button i,.tit_area .tit_con .tit_btn_area .btn_lst a i{font-size:18px;margin-right:14px;vertical-align: middle;}
.tit_area .tit_con .tit_btn_area .btn_lst button:hover,.tit_area .tit_con .tit_btn_area .btn_lst a:hover{background-color:#2C8BEB;color:#fff}
.tit_area h2{font-size:32px;line-height:40px;font-weight: normal;}
.tit_area h2 a{color:#2c2e37}
.tit_area h2 i{margin-right:18px;color:#8E8E93}
.tit_area h2+.sub_txt{margin-top: 8px;font-size:14px;color:#8e8e93;line-height:22px}
.tit_area .locate li{display:inline-block;color:#8e8e93;font-size:12px}
.tit_area .locate li a{display:inline-block;padding: 0 5px;color:#2c2e37}
.tit_area .locate li .xi-angle-right{color:#8e8e93;font-size:10px}

.col_left{float:left;padding:8px 0}
.col_right{float:right;padding:8px 0}
.row_con{position:relative;/* overflow:hidden; */padding:16px 0}
.panel{margin-bottom:24px;border: 1px solid #e4e4e4;/* border-bottom: none; */border-radius: 0;-webkit-box-shadow: none;box-shadow: none;}
.panel .panel-heading{display: table;width: 100%;padding: 16px;border-bottom: 1px solid #e4e4e4;border-radius: 0;}
.panel .panel-heading>.row{position: relative;display:table-cell;vertical-align:middle;height: 38px;}
.panel .panel-heading .txt_tit{display: inline-block;line-height: 38px;font-size:18px;color: #2c2e37;}
.panel .panel-heading .btn-group .btn_setting{margin-left:8px}
.panel .panel-heading .btn_group{margin:8px 0}
.panel .panel-body{padding: 16px 16px;}
.panel .panel-body .row{position:relative;/* margin:16px -12px */}
.panel .panel-body .txt_tit{margin-bottom:8px;font-size:16px;color:#2c2e37;font-weight:600}
.panel .panel-body .txt_tit i{margin-left:13px;color:#b5b7bd}
.panel .panel-body .txt_tit i:hover{color:#2c2e37}
.panel .panel-body .sub_txt{margin-bottom:8px;font-size:14px;color:#8e8e93;line-height:20px}
.panel .panel-body .row_con.v2 .sub_txt,.panel .panel-body .row_con.v2 .txt_tit{width:80%}
.panel .panel-body .row.v2 .btn_right,.panel .panel-body .row_con.v2 .btn_right{position:absolute;right:16px;top:16px}

/* bs accordion 사용시 panel-heading의 border-bottom 제거를 위해 추가, bs에서 가져옴 */
.panel-group .panel-heading {border-bottom: 0;}

.admin_wrap .panel-heading .slct_area{display:inline-block;position: relative;vertical-align: top;}
.admin_wrap .panel-heading .slct_area>a{display: inline-block;position:relative;width: auto;border:none;color:#434a53;font-size:14px}
.admin_wrap .panel-heading .slct_area>a span{padding-left:0}
.admin_wrap .dropdown-menu li.on a{color:#2c8beb}
.admin_wrap .slct_area>a:after{border-width:4px}

.admin_wrap .srch_group .inpt_txt{width:150px}
.admin_wrap .inpt_bd{overflow:hidden;margin-bottom:4px}
.admin_wrap .ico_bar{display:inline-block;width:1px;height:24px;margin:0 8px;background-color:#e4e4e4;vertical-align:middle}
.admin_wrap .btn_group{vertical-align:inherit;}
.admin_wrap .btn_group.txt_group button:hover{/* background-color:transparent */}
.admin_wrap button.btn_clse i.xi-angle-up{display:none}

/* bs accordion 사용시 collapsed에 따라 버튼 모양이 변하도록 추가 */
.admin_wrap button.btn_clse.card_close i.xi-angle-down,.collapsed button.btn_clse i.xi-angle-down{display:none}
.admin_wrap button.btn_clse.card_close i.xi-angle-up,.collapsed button.btn_clse i.xi-angle-up{display:block}

.footer a{color:#2c8beb}

.sidebar-collapse  header .btn_slide{margin-left:0}
.sidebar-collapse  header .btn_slide i{-webkit-transform: rotate(-180deg);transform: rotate(-180deg);}
.sidebar-collapse aside{left:-240px}
.sidebar-collapse #content,.sidebar-collapse .footer{margin-left:0}
aside.open{left:0}

.panel-heading_top{margin-bottom:24px}
.panel-heading_top h3{font-weight:normal;font-size:20px}

.btn-group .btn.on{background-color:#2C8BEB;border-color:#2C8BEB;color:#fff}
.input-group .btn_srch{position:absolute;bottom: 1px;right: 3px;z-index: 10;background-color: transparent;outline: none;}
.input-group .btn_srch:focus{color:#2c2e37}

.admin_wrap .slct_area > button, .admin_wrap .slct_area > a, .admin_wrap .slct_area .dropdown-menu {
  width: 100%
}

/*plugin list*/
.plugin_detail {
  max-width: 1250px
}
.lst_plugin{color:#8e8e93;line-height:25px}
.lst_plugin li{overflow:hidden;padding:16px 26px;border-left:2px solid #2C8BEB;font-size: 13px;}
.lst_plugin li:hover{background-color:#F8FAFD}
.lst_plugin li.off{border-left-color:transparent}
.lst_plugin li.update{border-left-color:#DB2828}

.lst_plugin li.update .txt_red i{vertical-align:middle;margin-right:5px}
.lst_plugin .plugin_tit{display:block;margin-bottom:3px;font-size:16px;color:#2c8beb;font-weight:600}
.lst_plugin .plugin_tit:hover{color:#085daa}
.lst_plugin dl{overflow:hidden}
.lst_plugin dl dd{position:relative;float:left;padding-right: 20px;}
.lst_plugin dl dd:after{position:absolute;right: 10px;top:3px;width:1px;height: 12px;background-color:#DADBDE;content: " "}
.lst_plugin dl dd:last-child:after{background:none}
.lst_plugin .label{margin-right:4px;font-size:11px}

/*plugin detail*/
.plugin_summary {
  overflow: hidden;
  margin-bottom: 16px;
}

.plugin_detail .plugin_tit {
  margin-bottom: 10px;
  font-size: 24px;
  color: #2c2e37
}

/* tab 사용시 깨지지 않도록 아래 스타일을 추가 */
.plugin_detail .tab-content .tab-pane { min-height: 400px; }
.plugin_detail .tab-content>.list-group { margin-bottom: 0px; }
.plugin_detail .tab-content>.list-group .list-group-item{border-width:1px 0 1px 2px}
.plugin_detail .tab-content>.list-group .list-group-item:last-child{border-bottom:none}

.plugin_summary .img_thmb {
  float: left;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 2px;
}

.plugin_summary dl {
  float: none;
  padding-left: 115px;
}

.plugin_summary dl dd {
  margin-bottom: 4px
}

.plugin_summary dl dd i {
  margin-right: 5px;
  color: #B5B7BD
}

.plugin_detail .nav-justified {
  clear: both;
  border: 1px solid #DADBDE
}

.plugin_detail .nav-justified li {
  margin: 0
}

.plugin_detail .nav-justified li a {
  margin: 0;
  border-radius: 0;
  color: #696e7a;
  text-align: left
}

.plugin_detail .nav-justified li.active {
  background-color: transparent;
  color: #2c8beb
}

.plugin_detail .nav-justified li.active a {
  color: #2c8beb
}

.plugin_detail .nav-pills > li.active > a {
  background-color: transparent
}

.plugin_detail .nav-justified li:hover a {
  background-color: #2C8BEB;
  color: #fff
}

.plugin_detail .list-group li {
  margin-left: 24px;
  padding: 30px 24px 30px 0;
  border-left: none;
  color: #8e8e93
}

.plugin_detail .list-group li .tit {
  margin-bottom: 13px;
  font-size: 20px;
  color: #434a53
}

.plugin_detail .list-group li td .btn_plugin_cog {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  color: #8e8e93;
  font-size: 16px;
  vertical-align: top;
}

.plugin_detail .list-group li td .btn_plugin_cog:hover {
  color: #333
}

.plugin_detail .list-group li .swiper {
  max-width: 600px;
  height: 440px;
  margin-left: 0
}

.plugin_detail .label {
  margin-right: 4px
}

.plugin_tbl th, .plugin_tbl td {
  padding: 8px;
  line-height: 13px
}

.plugin_detail .table > thead > tr > th {
  border-bottom: 1px solid #e4e4e4;
}

@media \0screen,screen\9 {
  header {
    border-bottom: 1px solid #e4e4e4
  }

  .admin_wrap .dropdown-menu {
    border: 1px solid #e4e4e4;
    border-width: 1px
  }
}

@media (min-width: 768px) {
  /* tablet */
  .input-group .form-control {
    width: auto
  }

  header .right_menu .dropdown-menu {
    min-width: 170px
  }

  header .btn_slide {
    margin-left: 240px
  }

  aside {
    position: absolute;
    left: 0
  }

  #content, .footer {
    margin-left: 240px
  }

  .admin_wrap .srch_group .inpt_txt {
    width: 205px;
  }

  .tit_area .tit_con .tit_btn_area .btn_lst {
    display: block;
    position: static;
    min-width: auto;
    box-shadow: none;
    -webkit-box-shadow: none
  }

  .tit_area .tit_con .tit_btn_area .btn_lst li {
    float: left
  }

  .tit_area .tit_con .tit_btn_area .btn_lst button, .tit_area .tit_con .tit_btn_area .btn_lst a {
    width: 40px;
    height: 40px;
    padding: 0;
    color: #2c2e37;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
  }

  .tit_area .tit_con .tit_btn_area .btn_lst button i, .tit_area .tit_con .tit_btn_area .btn_lst a i {
    margin: 0;
    vertical-align: inherit
  }

  .tit_area .tit_con .tit_btn_area .btn_lst button:hover, .tit_area .tit_con .tit_btn_area .btn_lst a:hover {
    background-color: #DADBDE;
    color: #000
  }

  .plugin_detail .nav-justified {
    clear: both;
    border: none
  }

  .plugin_detail .nav-justified li {
    border: 1px solid #696E7A;
    border-width: 1px 1px 1px 0
  }

  .plugin_detail .nav-justified li:first-child {
    border-left: 1px solid #696E7A
  }

  .plugin_detail .nav-justified li a {
    text-align: center;
    color: #696e7a
  }

  .plugin_detail .nav-justified li.active {
    background-color: #696E7A;
    color: #fff
  }

  .plugin_detail .nav-justified li.active a {
    color: #fff
  }

  .plugin_detail .nav-justified li:hover a {
    background-color: #F4F6F9;
    color: #696e7a
  }

  .plugin_detail .nav-justified li.active:hover a {
    background-color: #696E7A;
    color: #fff
  }

  @media (min-width: 1068px) {
    /* desktop */
    .lst_plugin li .btn_right {
      position: absolute;
      right: 16px;
      top: 50%;
      margin-top: -18px;
    }

    .left_group {
      width: 80%
    }

    .sidebar-collapse .dim {
      display: none
    }
  }
